<div class="page-sidebar navbar-collapse collapse">
  <!-- BEGIN SIDEBAR MENU -->
  <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
  <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
  <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
  <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
  <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
  <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
  <ul class="page-sidebar-menu" data-keep-expanded="false"
      data-auto-scroll="true" data-slide-speed="200"
      ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
    <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
    <li class="sidebar-search-wrapper">
      <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
      <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
      <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
      <form class="sidebar-search sidebar-search-bordered sidebar-search-solid"
            action="extra_search.html" method="POST">
        <a href="javascript:;" class="remove">
          <i class="icon-close"></i>
        </a>

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search...">
					<span class="input-group-btn">
					<a href="javascript:;" class="btn submit"><i
            class="icon-magnifier"></i></a>
					</span>
        </div>
      </form>
      <!-- END RESPONSIVE QUICK SEARCH FORM -->
    </li>
    <li ui-sref-active="active">
      <a ui-sref="home">
        <i class="icon-home"></i>
        <span class="title">Dashboard</span>
      </a>
    </li>
    <li ng-class="{active:$state.includes('movements')}">
      <a href="javascript:;"
         ui-sref="movements.list({status:'pending',revisions:undefined,trending:undefined,title:undefined})">
        <i class="icon-list"></i>
        <span class="title">Teams</span>
      </a>
    </li>
    <li ng-class="{active:$state.includes('leader')}">
      <a href="javascript:;"
         ui-sref="leader.list">
        <i class="glyphicon glyphicon-education"></i>
        <span class="title">Team Leaderboard</span>
      </a>
    </li>
    <li ng-class="{active:$state.includes('users')}">
      <a href="javascript:;" ui-sref="users.list({})">
        <i class="icon-users"></i>
        <span class="title">Users</span>
      </a>
    </li>

    <li ng-class="{active:$state.includes('pushNotifications')}">
      <a href="javascript:;" ui-sref="pushNotifications.create">
        <i class="glyphicon glyphicon-pushpin"></i>
        <span class="title">Push Notifications</span>
      </a>
    </li>

    <li ng-class="{active:$state.includes('abuseReports')}">
      <a href="javascript:;" ui-sref="abuseReports.list({status:'pending'})">
        <i class="icon-flag"></i>
        <span class="title">Abuse Reports</span>
      </a>
    </li>
    <li ng-class="{active:$state.includes('mascotImages')}">
      <a href="javascript:;" ui-sref="mascotImages.list()">
        <i class="icon-bell"></i>
        <span class="title">Welcome Feeds</span>
      </a>
    </li>
    <li ng-class="{active:$state.includes('mascotFeedTypes')}" ng-show = "showMenu">
      <a href="javascript:;" ui-sref="mascotFeedTypes.list()">
        <i class="glyphicon glyphicon-pushpin"></i>
        <span class="title">Mascot Feeds</span>
      </a>
    </li>
    <li ng-class="{active:$state.includes('userJourneys')}" ng-show = "showMenu">
      <a href="javascript:;" ui-sref="userJourneys.list()">
        <i class="glyphicon glyphicon-pushpin"></i>
        <span class="title">User Journeys</span>
      </a>
    </li>
  </ul>
  <!-- END SIDEBAR MENU -->
</div>
