<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.4
Version: 3.9.0
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js" data-ng-app="WalkonWebApp"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" data-ng-app="WalkonWebApp"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" data-ng-app="WalkonWebApp">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
  <title>Justice For Bhopal | Petition Form</title>

<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="../bower_components/angular-ui-bootstrap-datetimepicker/datetimepicker.css" />
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="../bower_components/angular-dialog-service/dist/dialogs.min.css" />
  <link rel="stylesheet" href="../bower_components/angular-image-crop/image-crop-styles.css" />
  <link rel="stylesheet" href="../bower_components/simple-line-icons/css/simple-line-icons.css" />
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="../bower_components/morrisjs/morris.css" />
  <link rel="stylesheet" href="../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" />
  <link rel="stylesheet" href="../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
  <link rel="stylesheet" href="../bower_components/toastr/toastr.css" />
  <link rel="stylesheet" href="../bower_components/angular-bootstrap-toggle-switch/style/bootstrap3/angular-toggle-switch-bootstrap-3.css" />
  <link rel="stylesheet" href="../bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" />
  <link rel="stylesheet" href="../bower_components/Jcrop/css/jquery.Jcrop.css" />
  <link rel="stylesheet" href="../bower_components/summernote/dist/summernote.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
  <!-- build:css({.tmp/serve,src}) styles/app.css -->

  <!-- BEGIN PAGE LEVEL STYLES -->
  <link href="assets/admin/pages/css/login.css" rel="stylesheet" type="text/css"/>
  <!-- END PAGE LEVEL SCRIPTS -->
  <!-- BEGIN THEME STYLES -->
  <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
  <link href="assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
  <link href="assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
  <link href="assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
  <link href="assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color"/>
  <link href="assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
  <link href="assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css"/>
  <link href="/assets/admin/pages/css/profile.css" rel="stylesheet" type="text/css"/>

  <!-- END THEME STYLES -->
  <!-- inject:css -->
  <link rel="stylesheet" href="app/index.css">
  <!-- endinject -->
  <!-- endbuild -->

  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>
  <link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGO -->
<div class="logo">
  <a href="petition.html">
    <img style="width:300px;height:auto;" src="http://www.bhopal.net/wp-content/uploads/Unlinked_logos/icjblogo.png" alt=""/>
  </a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content" ng-controller="SubmissionCtrl">
  <!-- BEGIN LOGIN FORM -->
  <h3 class="form-title">Thank you for signing the petition!</h3>
  <div class="form-actions">
   <center><button ng-click="backToPetition()" type="submit" class="btn btn-success uppercase">Back to petition</button></center>
  </div>
  <!-- END LOGIN FORM -->
</div>

<div class="copyright">www.justiceforbhopal.in</div>

<!-- END LOGIN -->





<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../bower_components/angular-ui-bootstrap-datetimepicker/datetimepicker.js"></script>
<script src="../bower_components/bootstrap-ui-datetime-picker/dist/datetime-picker.min.js"></script>
<script src="../bower_components/ng-csv/build/ng-csv.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/angular-translate/angular-translate.js"></script>
<script src="../bower_components/angular-dialog-service/dist/dialogs.min.js"></script>
<script src="../bower_components/angular-dialog-service/dist/dialogs-default-translations.min.js"></script>
<script src="../bower_components/angular-image-crop/image-crop.js"></script>
<script src="../bower_components/jquery.uniform/jquery.uniform.js"></script>
<script src="../bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="../bower_components/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
<script src="../bower_components/eve/eve.js"></script>
<script src="../bower_components/raphael/raphael.min.js"></script>
<script src="../bower_components/mocha/mocha.js"></script>
<script src="../bower_components/morrisjs/morris.js"></script>
<script src="../bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="../bower_components/toastr/toastr.js"></script>
<script src="../bower_components/jquery-validation/dist/jquery.validate.js"></script>
<script src="../bower_components/angular-touch/angular-touch.js"></script>
<script src="../bower_components/angular-cookie/angular-cookie.js"></script>
<script src="../bower_components/moment/moment.js"></script>
<script src="../bower_components/angular-moment/angular-moment.js"></script>
<script src="../bower_components/jquery.cookie/jquery.cookie.js"></script>
<script src="../bower_components/blockui/jquery.blockUI.js"></script>
<script src="../bower_components/angular-img-fallback/angular.dcb-img-fallback.min.js"></script>
<script src="../bower_components/angular-bootstrap-toggle-switch/angular-toggle-switch.js"></script>
<script src="../bower_components/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
<script src="../bower_components/Jcrop/js/jquery.Jcrop.js"></script>
<script src="../bower_components/summernote/dist/summernote.js"></script>
<script src="../bower_components/angular-summernote/dist/angular-summernote.js"></script>
<script src="../bower_components/ng-file-upload/ng-file-upload.js"></script>
<script src="../bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
<!-- endbower -->
<!-- endbuild -->




<!-- build:js(src) scripts/ie9.js -->
<!--[if lt IE 9]>
<script src="assets/global/plugins/respond.min.js"></script>
<script src="assets/global/plugins/excanvas.min.js"></script>
<![endif]-->
<!-- endbuild -->


<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->


<!-- BEGIN APP LEVEL JQUERY SCRIPTS -->
<script src="assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="assets/admin/pages/scripts/login.js" type="text/javascript"></script>
<!-- END APP LEVEL JQUERY SCRIPTS -->
<!-- END JAVASCRIPTS -->
<script type="text/javascript">
  /* Init Metronic's core jquery plugins and layout scripts */
  $(document).ready(function() {
    Metronic.init(); // Run metronic theme
//    Layout.init(); // init current layout
    Metronic.setAssetsPath('assets/'); // Set the assets folder path
//    Login.init();
//    Demo.init();
  });
</script>
<!-- inject:js -->
<script src="app/index.js"></script>
<script src="app/shared/wyswygEditor/boootstrap-editor-directive.js"></script>
<script src="app/shared/ngspinnerbar/ngSpinnerBar-directive.js"></script>
<script src="app/shared/imagecrop/imagecrop-directive.js"></script>
<script src="app/shared/dropdownmenuhover/dropdownMenuHover-directive.js"></script>
<script src="app/shared/a/a-directive.js"></script>
<script src="app/components/uiselect/uiselect-filter.js"></script>
<script src="app/components/themepanel/ThemePanel-controller.js"></script>
<script src="app/components/sidebar/Sidebar-controller.js"></script>
<script src="app/components/settings/Settings-factory.js"></script>
<script src="app/components/quicksidebar/QuickSidebar-controller.js"></script>
<script src="app/components/navbar/navbar.controller.js"></script>
<script src="app/components/header/Header-controller.js"></script>
<script src="app/components/footer/Footer-controller.js"></script>
<script src="app/components/editimage/EditImage-controller.js"></script>
<script src="app/WalkonDialogs/factories/WalkonDialogs-factory.js"></script>
<script src="app/Petition/controllers/Submission-controller.js"></script>
<script src="app/Petition/controllers/Petition-controller.js"></script>
<script src="app/services/lb-services.js"></script>
<script src="app/main/main.controller.js"></script>
<script src="app/config/config.js"></script>
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-XXXXX-X');ga('send','pageview');
</script>


</body>
<!-- END BODY -->
</html>
