/*
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  background-color: #222;

  &>a {
    float: left;
    color: lightgrey;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
  }

  ul {
    float: left;
    padding: 0;
    margin: 0;

    li {
      float: left;
      position: relative;
      display: block;

      a {
        color: white;
        position: relative;
        display: block;
        padding: 15px;
        line-height: 20px;
      }
      &.active a {
        background-color: black;
      }
    }
  }
}

.jumbotron {
  padding: 60px;
  margin-bottom: 30px;
  background-color: gainsboro;
  border-radius: 6px;
  text-align: center;
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  color: white;
  background-color: #5cb85c;
  border-color: #4cae4c;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.col {
  float: left;
  width: 33.33%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;

  .thumbnail {
    height: 200px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-bottom: 20px;

    .caption {
      padding: 9px;
    }

    img.pull-right {
      width: 50px;
    }
  }
}

.pull-right {
  float: right;
}

hr {
  clear: both;
}
*/

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector

.movement-image-holder {
  position: relative;
}
.movement-image {
  border: 1px solid #a6e1ec;
  padding: 5px;
  background: #fff;
}
.movement-image-edit-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
}
.bg-transparent {
  background: transparent;
}
.jcrop-box{
  width:500px;
  height:400px; 
  overflow:hidden;

  img.jcrop {
    max-width:100%;
    max-height:100%;
  }
}
.jcrop-keymgr {
  display:none !important;
}

.col-md-4 canvas {
  width:100%;
  height:100%;
}

div.portlet-body.form {
  .glyphicon.validate {
    float: right;
    margin-top: -25px;
    margin-right: 10px;
  }

  .glyphicon.stepsTarget {
    z-index: 2;
    margin-right: 35px;
  }

  .glyphicon.userForm {
    z-index:2;
  }

  .glyphicon.endDate {
    z-index:2;
  }

  .glyphicon-ok {
    color:green;
  }

  .glyphicon-remove {
    color:red;
  }
}

.task-review-dialog {
  width:50%;
  position: fixed;
  top: 15%;
  left: 35%;
  margin-left: -10%;
}

.box-comments {
background: #f7f7f7;
}

.box-comments .box-comment {
padding: 8px 0;
border-bottom: 1px solid #eee;
}

.img-sm, .box-comments .box-comment img, .user-block.user-block-sm img {
width: 30px !important;
height: 30px !important;
}

.box-comments .comment-text {
margin-left: 40px;
color: #555;
}

.box-comments .username {
color: #444;
display: block;
font-weight: 600;
}

.box-comments .text-muted {
font-weight: 400;
font-size: 12px;
}

.box-footer {
border-top-left-radius: 0;
border-top-right-radius: 0;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
padding: 10px;
background-color: #fff;
margin: -2px 0px 15px 0px;
}

.box {
position: relative;
border-radius: 3px;
background: #ffffff;
border-top: 3px solid #d2d6de;
margin-bottom: 20px;
width: 100%;
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box-body {
border-top-left-radius: 0;
border-top-right-radius: 0;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
padding: 10px;
}

.no-padding {
padding: 0 !important;
}
.box-body>.table {
margin-bottom: 0;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}
.form-control {
border-radius: 0;
box-shadow: none;
border-color: #d2d6de;
}

