<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a ui-sref="home">Home</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a ui-sref="abuseReports.list({status:undefined})">Abuse Reports</a>
      <i class="fa fa-angle-right" ng-show="subPage"></i>
    </li>
    <li ng-show="subPage">
      <a href="javascript:;">{{subPage}}</a>
    </li>
  </ul>
  <!--<div class="page-toolbar">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle"
              data-toggle="dropdown" dropdown-menu-hover data-delay="1000"
              data-close-others="true">
        Actions <i class="fa fa-angle-down"></i>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
        <li>
          <a href="#">
            <i class="icon-user"></i> New User </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-present"></i> New Event <span
            class="badge badge-success">4</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-basket"></i> New order </a>
        </li>
        <li class="divider">
        </li>
        <li>
          <a href="#">
            <i class="icon-flag"></i> Pending Orders <span
            class="badge badge-danger">4</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-users"></i> Pending Users <span
            class="badge badge-warning">12</span>
          </a>
        </li>
      </ul>
    </div>
  </div>-->
</div>
<h3 class="page-title">
  Abuse Report  - Details
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="portlet yellow-crusta box">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-cogs"></i>Abuse Report
          </div>
          <div ng-if="abuseReport.status==='pending' || abuseReport.target || abuseReport.status === 'closed' || abuseReport.status === 'dismissed'" class="actions">
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-sm btn-default dropdown-toggle"
                      data-toggle="dropdown" dropdown-menu-hover data-delay="1000"
                      data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li>
                  <a ng-if="abuseReport.status==='pending'" href="javascript:;" ng-click="dismiss()"><i class="icon-close"></i> Dismiss</a>
                  <a ng-if="abuseReport.status==='closed' || abuseReport.status==='dismissed'" href="javascript:;" ng-click="pending()">
                    <i class="icon-check"></i> Pending</a>
                </li>
                <li class="divider">
                </li>
                <li>
                  <a ng-if="abuseReport.targetType === 'Activity'" href="javascript:;" ng-click="deleteActivity()">
                    <i class="icon-close"></i> Delete Activity</a>
                  <a ng-if="abuseReport.targetType === 'Comment'" href="javascript:;" ng-click="deleteActivity()">
                    <i class="icon-close"></i> Delete Comment</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="portlet-body">
          <div class="row static-info">
            <div class="col-md-5 name">
              Reason:
            </div>
            <div class="col-md-7 value">
              {{abuseReport.reason}}
            </div>
          </div>
          <div class="row static-info">
            <div class="col-md-5 name">
              Abuse
              Type:
            </div>
            <div class="col-md-7 value">
              {{abuseReport.abuseType.message}}
            </div>
          </div>
          <div class="row static-info">
            <div class="col-md-5 name">
              Status:
            </div>
            <div class="col-md-7 value">
																<span class="label label-success">
																{{abuseReport.status}} </span>
            </div>
          </div>
          <div class="row static-info">
            <div class="col-md-5 name">
              Date:
            </div>
            <div class="col-md-7 value">
              {{abuseReport.created| date : format : timezone}}
            </div>
          </div>
          <div class="row static-info">
            <div class="col-md-5 name">
              Reported By:
            </div>
            <div class="col-md-7 value">
              <div class="fit">
                <img class="user-pic" ng-src="{{getImageWithSize(abuseReport.reportedBy._picture,32,true)}}" fallback-src loading-src>
                &nbsp;<a ui-sref="users.details({id:abuseReport.reportedBy.id})" class="primary-link">{{getDisplayName(abuseReport.reportedBy)}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="abuseReport.target && abuseReport.targetType === 'Activity'" class="col-md-6 col-sm-12">
      <div class="portlet blue-hoki box">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-cogs"></i>Activity Details
          </div>
          <div class="actions">
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-sm btn-default dropdown-toggle"
                      data-toggle="dropdown" dropdown-menu-hover data-delay="1000"
                      data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li class="divider">
                </li>
                <li>
                  <a href="javascript:;" ng-click="deleteActivity()">
                    <i class="icon-close"></i> Delete Activity</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="portlet-body">
          <div class="row static-info">
            <div class="col-md-5 name">
              Text:
            </div>
            <div class="col-md-7 value">
              {{abuseReport.target.text}}
            </div>
          </div>
          <div class="row static-info" ng-if="abuseReport.target._picture.url">
            <div class="col-md-5 name">
              Image:
            </div>
            <div class="col-md-7 value">
              <img ng-src="{{getImageWithSize(abuseReport.target._picture,150)}}" width="50%"  fallback-src loading-src />
            </div>
          </div>
          <div class="row static-info">
            <div class="col-md-5 name">
              Activity Type:
            </div>
            <div class="col-md-7 value">
              {{abuseReport.target.activityType.name}}
            </div>
          </div>
          <div class="row static-info">
            <div class="col-md-5 name">
              Activity By:
            </div>
            <div class="col-md-7 value">
              <div class="fit">
                <img class="user-pic" width="32" height="32" ng-src="{{getImageWithSize(abuseReport.target.actor._picture,32,true)}}"  fallback-src loading-src>
                &nbsp;<a ui-sref="users.details({id:abuseReport.target.actor.id})" class="primary-link">{{getDisplayName(abuseReport.target.actor)}}</a>
              </div>

            </div>
          </div>
          <div class="row static-info">
            <div class="col-md-5 name">
              Abuse Reports:
            </div>
            <div class="col-md-7 value">
              {{abuseReport.target.abuseReportsCount}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="abuseReport.target && abuseReport.targetType === 'Comment'" class="col-md-6 col-sm-12">
      <div class="portlet blue-hoki box">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-cogs"></i>Comment Details
          </div>
          <div class="actions">
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-sm btn-default dropdown-toggle"
                      data-toggle="dropdown" dropdown-menu-hover data-delay="1000"
                      data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li class="divider">
                </li>
                <li>
                  <a href="javascript:;" ng-click="deleteComment()">
                    <i class="icon-close"></i> Delete Comment</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="portlet-body">
          <div class="row static-info">
            <div class="col-md-5 name">
              Text:
            </div>
            <div class="col-md-7 value">
              {{abuseReport.target.text}}
            </div>
          </div>
          <div class="row static-info">
            <div class="col-md-5 name">
              Activity By:
            </div>
            <div class="col-md-7 value">
              <div class="fit">
                <img class="user-pic" width="32" height="32" ng-src="{{getImageWithSize(abuseReport.target.actor._picture,32,true)}}"  fallback-src loading-src>
                &nbsp;<a ui-sref="users.details({id:abuseReport.target.actor.id})" class="primary-link">{{getDisplayName(abuseReport.target.user)}}</a>
              </div>

            </div>
          </div>
          <div class="row static-info">
            <div class="col-md-5 name">
              Abuse Reports:
            </div>
            <div class="col-md-7 value">
              {{abuseReport.target.abuseReportsCount}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

