<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a ui-sref="home">Home</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a ui-sref="abuseReports.list({status:undefined})">Abuse Reports</a>
      <i class="fa fa-angle-right" ng-show="subPage"></i>
    </li>
    <li ng-show="subPage">
      <a ui-sref="abuseReports.list">{{subPage}}</a>
    </li>
  </ul>
  <!--<div class="page-toolbar">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle"
              data-toggle="dropdown" dropdown-menu-hover data-delay="1000"
              data-close-others="true">
        Actions <i class="fa fa-angle-down"></i>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
        <li>
          <a href="#">
            <i class="icon-user"></i> New User </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-present"></i> New Event <span
            class="badge badge-success">4</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-basket"></i> New order </a>
        </li>
        <li class="divider">
        </li>
        <li>
          <a href="#">
            <i class="icon-flag"></i> Pending Orders <span
            class="badge badge-danger">4</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-users"></i> Pending Users <span
            class="badge badge-warning">12</span>
          </a>
        </li>
      </ul>
    </div>
  </div>-->
</div>
<h3 class="page-title">
  Abuse Reports
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div>
  <div class="row">
    <div class="col-md-12">
      <!--<div class="note note-danger">
        <p>
          NOTE: The below datatable is not connected to a real database so the filter and sorting is just simulated for demo purposes only.
        </p>
      </div>-->
      <!-- Begin: life time stats -->
      <div class="portlet  box red">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-list"></i>{{subPage ? subPage : 'All Reports'}}
          </div>
          <!--<div class="actions">
            <a href="#" class="btn default yellow-stripe">
              <i class="fa fa-plus"></i>
                      <span class="hidden-480">
                      New Order </span>
            </a>
            <div class="btn-group">
              <a class="btn default yellow-stripe" href="#" data-toggle="dropdown">
                <i class="fa fa-share"></i>
                          <span class="hidden-480">
                          Tools </span>
                <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu pull-right">
                <li>
                  <a href="#">
                    Export to Excel </a>
                </li>
                <li>
                  <a href="#">
                    Export to CSV </a>
                </li>
                <li>
                  <a href="#">
                    Export to XML </a>
                </li>
                <li class="divider">
                </li>
                <li>
                  <a href="#">
                    Print Invoices </a>
                </li>
              </ul>
            </div>
          </div>-->
        </div>
        <div class="portlet-body">
          <p class="table-container">
            <!--<div class="table-actions-wrapper">
                          <span>
                          </span>
              <select class="table-group-action-input form-control input-inline input-small input-sm">
                <option value="">Select...</option>
                <option value="Cancel">Cancel</option>
                <option value="Cancel">Hold</option>
                <option value="Cancel">On Hold</option>
                <option value="Close">Close</option>
              </select>
              <button class="btn btn-sm yellow table-group-action-submit"><i class="fa fa-check"></i> Submit</button>
            </div>-->
          <table class="table table-striped table-bordered table-hover" id="datatable_ajax">
            <thead>
            <tr role="row" class="heading">
              <th width="2%">
                <input type="checkbox" class="group-checkable">
              </th>
              <!--<th width="5%">
                Record&nbsp;#
              </th>-->
              <th width="15%">
                Reason
              </th>
              <th width="15%">
                AbuseType
              </th>
              <th width="15%">
                Date
              </th>
              <th width="10%">
                Status
              </th>
              <th width="10%">
                ReportedBy
              </th>
              <th width="10%">
                Actions
              </th>
            </tr>
            <tr role="row" class="filter">
              <td>
              </td>
              <td>
                <input type="text" class="form-control form-filter input-sm" name="reason" ng-model="where.reason.like">
              </td>
              <td>
              </td>
              <td>
                <p class="input-group">
                  <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy"
                         ng-model="where.created.gt"
                         is-open="opened.createdGt" min-date="minDate" datepicker-options="dateOptions"
                         date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event,'createdGt')"><i
                      class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
                <p class="input-group">
                  <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy"
                         ng-model="where.created.lt"
                         is-open="opened.createdLt" min-date="minDate" datepicker-options="dateOptions"
                         date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event,'createdLt')"><i
                      class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </td>


              <td>
                <select name="order_status" class="form-control form-filter input-sm" ng-model="where.status">
                  <option value="">All</option>
                  <option value="pending">pending</option>
                  <option value="active">active</option>
                  <option value="dismissed">dismissed</option>
                  <option value="closed">closed</option>
                </select>
              </td>
              <td> DisplayName (Username)</td>

              <td>
                <div class="margin-bottom-5">
                  <button class="btn btn-sm yellow filter-submit margin-bottom" ng-click="search(where)"><i
                    class="fa fa-search"></i> Search
                  </button>
                </div>
                <button class="btn btn-sm red filter-cancel" ng-click="reset()"><i class="fa fa-times"></i> Reset
                </button>
              </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="abuseReport in abuseReports">
              <td><input type="checkbox"/></td>
              <td><a href="javascript:;" ui-sref="abuseReports.details({id:abuseReport.id})">{{abuseReport.reason}}</a>
              </td>
              <td>{{abuseReport.abuseType.message}}</td>
              <td>{{abuseReport.created | date : format : timezone}}</td>
              <td>{{abuseReport.status}}</td>
              <td>
                <div class="fit">
                  <img class="user-pic"
                       ng-src="{{getImageWithSize(abuseReport.reportedBy._picture,32,true)}}"  fallback-src loading-src>
                  &nbsp;<a ui-sref="users.details({id:abuseReport.reportedBy.id})" class="primary-link">{{getDisplayName(abuseReport.reportedBy)}}</a>
                </div>
              </td>
              <td>
                <!-- Single button -->
                <div class="btn-group" dropdown>
                  <button type="button" class="btn btn-sm btn-default" dropdown-toggle>
                    Actions <i class="fa fa-angle-down"></i>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a href="javascript:;" ui-sref="abuseReports.details({id:abuseReport.id})">
                        <i class="icon-list"></i> View Details</a>
                    </li>
                    <li>
                      <a ng-if="abuseReport.status==='pending'" href="javascript:;" ng-click="dismiss(abuseReport)">
                        <i class="icon-close"></i> Dismiss</a>
                      <a ng-if="abuseReport.status==='closed' || abuseReport.status==='dismissed'" href="javascript:;" ng-click="pending(abuseReport)">
                        <i class="icon-check"></i> Pending</a>
                    </li>

                    <li class="divider" ng-show="abuseReport.target">
                    </li>
                    <li>
                      <a href="javascript:;" ng-show="abuseReport.target" ng-click="deleteActivity(abuseReport)">
                        <i class="icon-close"></i> Delete Activity</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination ng-model="page" total-items="totalItems" items-per-page="pageSize" max-size="10"
                      ng-change="pageChanged()"></pagination>
        </div>
      </div>
    </div>
    <!-- End: life time stats -->
  </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
  //  TableAjax.init();
</script>
<!-- END MAIN JS -->
