<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a ui-sref="home">Home</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a ui-sref="users.list">Users</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a ui-sref="users.create">{{subPage}}</a>
    </li>
  </ul>
<!--  <div class="page-toolbar">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle"
              data-toggle="dropdown" dropdown-menu-hover data-delay="1000"
              data-close-others="true">
        Actions <i class="fa fa-angle-down"></i>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
        <li ui-sref-active="active">
          <a ui-sref="users.create">
            <i class="icon-plus"></i> New User </a>
        </li>
        <li class="divider">
        </li>
        <li>
          <a href="javascript:;" ui-sref="users.list({status:'pending',revisions:undefined})">
            <i class="icon-flag"></i> Pending <span
            class="badge badge-danger">4</span>
          </a>
        </li>
        <li>
          <a href="javascript:;" ui-sref="users.list({status:undefined,revisions:'pending'})">
            <i class="icon-users"></i> Revisions <span
            class="badge badge-warning">12</span>
          </a>
        </li>
        <li>
          <a href="javascript:;" ui-sref="users.list({status:undefined,revisions:undefined})">
            <i class="icon-users"></i> All <span
            class="badge badge-warning">12</span>
          </a>
        </li>
      </ul>
    </div>
  </div>-->
</div>
<h3 class="page-title">
  {{subPage}} User
</h3>
<!-- END PAGE HEADER-->
<div class="row">
  <!--<div class="col-md-6">
    &lt;!&ndash; BEGIN Portlet PORTLET&ndash;&gt;
    <div class="portlet light" id="user_details_form_portlet">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-bell-o"></i>Recent Notifications
        </div>
        <div class="tools">
          <a href="javascript:;" class="collapse">
          </a>
          <a href="#portlet-config" data-toggle="modal" class="config">
          </a>
          <a href="javascript:;" class="reload">
          </a>
          <a href="javascript:;" class="remove">
          </a>
        </div>
      </div>

      <div class="portlet-body">
&lt;!&ndash;        <div class="table-scrollable">
          <table class="table table-striped table-bordered table-advance table-hover">
            <thead>
            <tr>
              <th>
                <i class="fa fa-image"></i> Image
              </th>
              <th class="hidden-xs">
                <i class="fa fa-file-text"></i> Message
              </th>
              <th>
                <i class="fa fa-clock-o"></i> Time
              </th>
              &lt;!&ndash;<th>
              </th>&ndash;&gt;
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="notif in notifs">
              <td class="highlight" width="10%">
                <div class="fit">
                  <img class="user-pic img-thumbnail" width="100%" ng-src="{{getImageWithSize(notif.context, 50)}}"
                       loading-src
                       fallback-src/>
                </div>
              </td>
              <td class="hidden-xs">
                {{notif.message}}
              </td>
              <td>
                <span am-time-ago="notif.created"></span>
              </td>
              &lt;!&ndash; <td>
                 <a href="javascript:;" class="btn default btn-xs purple">
                   <i class="fa fa-edit"></i> Edit </a>
               </td>&ndash;&gt;
            </tr>

            </tbody>
          </table>
        </div>&ndash;&gt;
      </div>
    </div>
    &lt;!&ndash; PORTLET MAIN &ndash;&gt;

  </div>-->
  <!-- END Portlet PORTLET-->
  <div class="col-md-12">
    <div class="portlet light">
      <div class="portlet-title">
        <div class="caption caption-md">
          <i class="icon-bar-chart theme-font hide"></i>
          <span class="caption-subject font-blue-madison bold uppercase">CUSTOM MASCOT/KIRAN FEEDS</span>
          <!-- <span class="caption-helper">45 pending</span> -->
        </div>
        <!-- <div class="inputs">
          <div class="portlet-input input-inline input-small ">
            <div class="input-icon right">
              <i class="icon-magnifier"></i>
              <input type="text" class="form-control form-control-solid" placeholder="search...">
            </div>
          </div>
        </div> -->
      </div>
      <div class="portlet-body">
        <!-- <div class="scroller" data-always-visible="1" data-rail-visible1="0"
        data-handle-color="#D7DCE2"> -->

        <div class="general-item-list">
          <div class="item" id="create-mascot-item">
            <input type="text" class="form-control" placeholder="Add a heading for Mascot Feed."
            ng-model="newMascot.heading"></input>
            <br/>
            <textarea class="form-control" placeholder="Add a short text message for Mascot Feed."
                      ng-model="newMascot.data.text"></textarea>
            <hr>
            <img ng-src="{{newMascot._picture.url}}" width="100%" ng-if="newMascot._picture" class="img-thumbnail"
                 fallback-src loading-src/>

            <div class="">
              <a href="javascript:;" class="btn btn-circle btn-primary pull-right" ng-click="createMascotFeed(newMascot)"
                 ng-disabled="mascotSubmitDisabled()">SEND</a>
              <button class="btn btn-circle bg-transparent text-white pull-right" style="margin-right: 10px;"
                      ng-click="addPictureToMascot(newMascot)"><span class="fa fa-camera fa-3x"></span>
              </button>
              <toggle-switch ng-model="newMascot.data.sticky" style="float: left;"class='switch-success switch-mini'>
              </toggle-switch>
              <span style="margin: 0px 0px 0px 5px;">Pinned</span>
              <div class="pull-right">
                <label class="checkbox">
                  <input type="checkbox" ng-model="newMascot.data.pushNotify"> Push Notification
                </label>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>


          <div class="item" ng-repeat="mascotFeed in mascotFeeds">
            <div class="item-head">
              <div class="item-details">
                <img class="item-pic" ng-src="{{getImageWithSize(mascotFeed.creator._picture,32)}}" fallback-src
                     loading-src>
                <a class="item-name primary-link">{{getDisplayName(mascotFeed.creator)}}</a>
                <span class="item-label" am-time-ago="mascotFeed.created"></span>
              </div>
              <div class="task-config pull-right">
                <div class="task-config-btn btn-group">
                  <a class="btn btn-xs default" href="javascript:;"
                     data-toggle="dropdown" dropdown-menu-hover
                     data-close-others="true">
                    <i class="fa fa-cog"></i><i
                    class="fa fa-angle-down"></i>
                  </a>
                  <ul class="dropdown-menu pull-right">
                    <li>
                      <a href="javascript:;" ng-click="editMascotFeed(mascotFeed)">
                        <i class="fa fa-pencil"></i> Edit </a>
                    </li>
                  </ul>
                </div>
              </div>
              <toggle-switch
                ng-model="mascotFeed.sticky" style="float: right; margin: 0px 19px 0px 0px;" class='switch-success switch-mini'  ng-change='pinnedPost(mascotFeed.sticky,mascotFeed.id)'>
              </toggle-switch>
            </div>
            <div class="item-body" style="padding-left: 50px;">
              <span ng-hide="mascotFeed.editMode"><b>{{mascotFeed.heading}}</b></span>
              <input class="form-control" ng-model="mascotFeed.heading" ng-show="mascotFeed.editMode" />
              <br/>
              <span ng-hide="mascotFeed.editMode">{{mascotFeed.data.text}}</span>
              <input class="form-control" ng-model="mascotFeed.data.text" ng-show="mascotFeed.editMode" />
              <br/>
              <img ng-src="{{getImageWithSize(mascotFeed._picture,200)}}" class="img-thumbnail"
                   ng-show="mascotFeed._picture.url"
                   fallback-src loading-src
                   width="100%"/>

              <button class="btn btn-circle btn-sm btn-primary pull-right" style="margin-right: 10px;" ng-show="mascotFeed.editMode" ng-click="saveMascotFeed(mascotFeed)"><i class="fa fa-save"></i> Save</button>
              <button class="btn btn-circle btn-sm btn-default pull-right" style="margin-right: 10px;" ng-show="mascotFeed.editMode" ng-click="cancelEdit(mascotFeed)"><i class="fa fa-close"></i> Cancel</button>
              <button class="btn btn-circle bg-transparent text-white pull-right" style="margin-right: 10px;"
                      ng-click="addPictureToMascot(mascotFeed)" ng-show="mascotFeed.editMode"><span class="fa fa-camera fa-3x"></span>
              </button>
              <div class="clearfix"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- END Portlet PORTLET-->
  <!-- <div class="col-md-6">
    <div class="portlet light">
      <div class="portlet-title">
        <div class="caption caption-md">
          <i class="icon-bar-chart theme-font hide"></i>
          <span class="caption-subject font-blue-madison bold uppercase">CUSTOM NOTIFICATION</span>
        </div>
        <div class="inputs">
          <div class="portlet-input input-inline input-small ">
            <div class="input-icon right">
              <i class="icon-magnifier"></i>
              <input type="text" class="form-control form-control-solid" placeholder="search...">
            </div>
          </div>
        </div>
      </div>
      <div class="portlet-body">

        <div class="general-item-list">
          <div class="item" id="send-notification-item">
            <textarea class="form-control" placeholder="Add a short text message for push notification."
                      ng-model="newNotif.message"></textarea>
            <hr>
            <img ng-src="{{newNotif._picture.url}}" width="100%" ng-if="newNotif._picture" class="img-thumbnail"
                 fallback-src loading-src/>

            <div class="">
              <a href="javascript:;" class="btn btn-circle btn-primary pull-right" ng-click="sendNotification(newNotif)"
                 ng-disabled="submitDisabled()">SEND</a>
              <button class="btn btn-circle bg-transparent text-white pull-right" style="margin-right: 10px;"
                      ng-click="addPictureToNotification()"><span class="fa fa-camera fa-3x"></span>
              </button>
            </div>
            <div class="clearfix"></div>
          </div>


          <div class="item" ng-repeat="notif in notifs">
            <div class="item-head">
              <div class="item-details">
                <img class="item-pic" ng-src="{{getImageWithSize(notif.creator,32)}}" fallback-src
                     loading-src>
                <a class="item-name primary-link">{{getDisplayName(notif.creator)}}</a>
                <span class="item-label" am-time-ago="notif.created"></span>
              </div>
            </div>
            <div class="item-body" style="padding-left: 50px;">
              {{notif.message}}
              <br/>
              <img ng-src="{{getImageWithSize(notif.context,200)}}" class="img-thumbnail" ng-show="notif.context.url"
                   fallback-src loading-src
                   width="100%"/>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div> -->
</div>
</div>
<div ui-view></div>

