<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a href="#/dashboard.html">Home</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a href="#">Dashboard</a>
    </li>
  </ul>
  <div class="page-toolbar">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle"
              data-toggle="dropdown" dropdown-menu-hover data-delay="1000"
              data-close-others="true">
        Actions <i class="fa fa-angle-down"></i>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
        <li ui-sref-active="active">
          <a ui-sref="movements.create">
            <i class="icon-plus"></i> New Team </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="users.create">
            <i class="icon-plus"></i> New User </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="pushNotifications.create">
            <i class="icon-plus"></i> New Feed </a>
        </li>
        <!--<li>
          <a href="#">
            <i class="icon-present"></i> New Event <span
            class="badge badge-success">4</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-basket"></i> New order </a>
        </li>-->
        <!--<li class="divider">
        </li>
        <li>
          <a href="javascript:;" ui-sref="movements.list({status:'pending',revisions:undefined})">
            <i class="icon-flag"></i> Pending <span
            class="badge badge-danger">4</span>
          </a>
        </li>
        <li>
          <a href="javascript:;" ui-sref="movements.list({status:undefined,revisions:'pending'})">
            <i class="icon-users"></i> Revisions <span
            class="badge badge-warning">12</span>
          </a>
        </li>
        <li>
          <a href="javascript:;" ui-sref="movements.list({status:undefined,revisions:undefined})">
            <i class="icon-users"></i> All <span
            class="badge badge-warning">12</span>
          </a>
        </li>-->
      </ul>
    </div>
  </div>
</div>
<h3 class="page-title">
  Dashboard
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div>
  <div class="row">
  </div>
</div>

<div>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat blue-madison">
        <div class="visual">
          <i class="fa fa-comments"></i>
        </div>
        <div class="details">
          <div class="number">
            &nbsp;{{pendingMovements.count}}
          </div>
          <div class="desc">
            Team
            Requests
          </div>
        </div>
        <a class="more" href="javascript:;" ui-sref="movements.list({status:'pending'})">
          View more <i class="m-icon-swapright m-icon-white"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat red-intense">
        <div class="visual">
          <i class="fa fa-bar-chart-o"></i>
        </div>
        <div class="details">
          <div class="number">
            &nbsp;{{abuseReports.count}}
          </div>
          <div class="desc">
            Abuse
            Reports
          </div>
        </div>
        <a class="more" href="javascript:;" ui-sref="abuseReports.list({status:'pending'})">
          View more <i class="m-icon-swapright m-icon-white"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat green-haze">
        <div class="visual">
          <i class="fa fa-shopping-cart"></i>
        </div>
        <div class="details">
          <div class="number">
            &nbsp;{{percentGoalAchieved}}%
          </div>
          <div class="desc">
            Goal Completed
          </div>
        </div>
        <a class="more" ui-sref="movements.details({id:domainMovementId})">
          View more <i class="m-icon-swapright m-icon-white"></i>
        </a>
      </div>
    </div>
    <!-- <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
      <div class="dashboard-stat purple-plum">
        <div class="visual">
          <i class="fa fa-globe"></i>
        </div>
        <div class="details">
          <div class="number">
            &nbsp;{{stepsIncrease}}
          </div>
          <div class="desc">
            Contributions
            Today
          </div>
        </div>
        <a class="more" href="#">
          View more <i class="m-icon-swapright m-icon-white"></i>
        </a>
      </div>
    </div> -->
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat purple-plum">
        <div class="visual">
          <i class="fa fa-globe"></i>
        </div>
        <div class="details">
          <div class="number">
            &nbsp;{{totalUsers}}
          </div>
          <div class="desc">
            Total Users
          </div>
        </div>
        <a class="more" href="#/users/list">
          View more <i class="m-icon-swapright m-icon-white"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- END DASHBOARD STATS -->
  <div class="row">
    <!-- TASKS -->
    <div class="col-md-6 col-sm-12">
      <!-- BEGIN PORTLET-->
      <div class="portlet light tasks-widget">
        <div class="portlet-title">
          <div class="caption caption-md">
            <i class="icon-bar-chart font-green-haze hide"></i>
            <span
              class="caption-subject font-green-haze bold uppercase">TASKS</span>
            <span class="caption-helper">{{tasks.length}} pending</span>
          </div>
          <!-- <div class="inputs">
            <div class="portlet-input input-small input-inline">
              <div class="input-icon right">
                <i class="icon-magnifier"></i>
                <input type="text" class="form-control form-control-solid"
                       placeholder="search...">
              </div>
            </div>
          </div> -->
        </div>
        <div class="portlet-body">
          <div class="task-content">
            <div class="scroller" style="height: 282px;" data-always-visible="1"
                 data-rail-visible1="0" data-handle-color="#D7DCE2">
              <!-- START TASK LIST -->
              <ul class="task-list">
                <li ng-repeat="task in tasks" ng-if = "task.status == 'active'">
                    <div class="task-checkbox">
                      <a href="" ng-click="handleTask(task)"> <span class="fa fa-lg fa-arrow-circle-right"></span></a>
                    </div>
                    <div class="task-title">
                      <span class="task-title-sp" style="padding-left:5px;">{{task.message}}</span>
                      <span class="label label-sm {{task.label}}">{{task.taskType.displayName}}</span>
  										<span class="task-bell">
  										<i class="fa fa-bell-o"></i>
  										</span>
                    </div>
                    <div class="task-config" style="display: block !important;">
                      <div class="col-md-3 col-sm-4" ng-click="updateTask(task.id)"><i class="fa fa-fw fa-trash"></i></div>
                      <!-- <div class="task-config-btn btn-group">
                        <a class="btn btn-xs default" href="javascript:;"
                           data-toggle="dropdown" dropdown-menu-hover
                           data-close-others="true">
                          <i class="fa fa-cog"></i><i
                          class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                          <li>
                            <a ng-click="handleTask(task)">
                              <i class="fa fa-pencil"></i> Edit </a>
                          </li>
                        </ul>
                      </div> -->
                    </div>
                </li>


                <!--
                <li class="last-line">
                  <div class="task-checkbox">
                    <input type="checkbox" class="liChild" value=""/>
                  </div>
                  <div class="task-title">
										<span class="task-title-sp">
										KeenThemes Investment Discussion </span>
                    <span
                      class="label label-sm label-warning">KeenThemes </span>
                  </div>
                  <div class="task-config">
                    <div class="task-config-btn btn-group">
                      <a class="btn btn-xs default" href="javascript:;"
                         data-toggle="dropdown" dropdown-menu-hover
                         data-close-others="true">
                        <i class="fa fa-cog"></i><i
                        class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-menu pull-right">
                        <li>
                          <a href="javascript:;">
                            <i class="fa fa-check"></i> Complete </a>
                        </li>
                        <li>
                          <a href="javascript:;">
                            <i class="fa fa-pencil"></i> Edit </a>
                        </li>
                        <li>
                          <a href="javascript:;">
                            <i class="fa fa-trash-o"></i> Cancel </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>-->
              </ul>
              <!-- END START TASK LIST -->
            </div>
          </div>
          <!-- <div class="task-footer">
            <div class="btn-arrow-link pull-right">
              <a href="javascript:;">See All Tasks</a>
            </div>
          </div> -->
        </div>
      </div>
      <!-- END PORTLET-->
    </div>


    <div class="col-md-6 col-sm-12">
      <!-- BEGIN PORTLET-->
      <div class="portlet light ">
        <div class="portlet-title">
          <div class="caption caption-md">
            <i class="icon-bar-chart font-green-haze hide"></i>
            <span class="caption-subject font-green-haze bold uppercase">Member Activity</span>
            <span class="caption-helper hide">weekly stats...</span>
          </div>
          <div class="actions">
            <div class="btn-group btn-group-devided" data-toggle="buttons">
              <label
                class="btn btn-transparent grey-salsa btn-circle btn-sm active">
                <input type="radio" name="options" class="toggle" id="option1">Today</label>
              <!--<label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                <input type="radio" name="options" class="toggle" id="option2">Week</label>
              <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                <input type="radio" name="options" class="toggle" id="option2">Month</label>-->
            </div>
          </div>
        </div>
        <div class="portlet-body">
          <!--<div class="row number-stats margin-bottom-30">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="stat-left">
                <div class="stat-chart">
                  &lt;!&ndash; do not line break "sparkline_bar" div. sparkline chart has an issue when the container
                  div has line break &ndash;&gt;
                  <div id="sparkline_bar"></div>
                </div>
                <div class="stat-number">
                  <div class="title">
                    Total
                  </div>
                  <div class="number">
                    2460
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="stat-right">
                <div class="stat-chart">
                  &lt;!&ndash; do not line break "sparkline_bar" div. sparkline chart has an issue when the container
                  div has line break &ndash;&gt;
                  <div id="sparkline_bar2"></div>
                </div>
                <div class="stat-number">
                  <div class="title">
                    New
                  </div>
                  <div class="number">
                    719
                  </div>
                </div>
              </div>
            </div>
          </div>-->
          <div class="table-scrollable table-scrollable-borderless">
            <table class="table table-hover table-light">
              <thead>
              <tr class="uppercase">
                <th colspan="2">
                  MEMBER
                </th>
                <th>
                  TODAY
                </th>
                <th>
                  TOTAL
                </th>
                <th>
                  CHEERS
                </th>
              </tr>
              </thead>
              <tr ng-repeat="user in topUsers">
                <td class="fit">
                  <a ui-sref="users.details({id:user.id})"><img ng-src="{{getImageWithSize(user._picture,32,true)}}"
                                                                class="user-pic" height="32" width="32"
                                                                fallback-src loading-src style="margin-right: 10px"/></a>
                </td>
                <td width="20%">
                  <a ui-sref="users.details({id:user.id})" style="line-height: 32px;"><b>{{getDisplayName(user) | limitTo: 30}}</b></a>
                </td>
                <td>
                  {{user._fitness.stepsToday}}
                </td>
                <td>
                  {{user._fitness.totalSteps}}
                </td>
                <td>
                  {{user.meta.cheerCount}}
                </td>
              </tr>
            </table>
          </div>
          <pagination ng-model="userPageNo" total-items="totalUsers" items-per-page="userPerPage" max-size="6" ng-change="nextUsers(userPageNo)"></pagination>
        </div>
      </div>
      <!-- END PORTLET-->
    </div>
  </div>
  <!--<div class="row">


    <div class="col-md-6 col-sm-6">
      &lt;!&ndash; BEGIN REGIONAL STATS PORTLET&ndash;&gt;
      <div class="portlet light ">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-share font-green-haze"></i>
            <span class="caption-subject font-green-haze bold uppercase">Recent Activities</span>
          </div>
          <div class="actions">
            <div class="btn-group">
              <a class="btn btn-sm btn-default btn-circle" href="#"
                 data-toggle="dropdown" dropdown-menu-hover
                 data-close-others="true">
                Filter By <i class="fa fa-angle-down"></i>
              </a>

              <div
                class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
                <label><input type="checkbox"/> Finance</label>
                <label><input type="checkbox" checked=""/> Membership</label>
                <label><input type="checkbox"/> Customer Support</label>
                <label><input type="checkbox" checked=""/> HR</label>
                <label><input type="checkbox"/> System</label>
              </div>
            </div>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen"
               href="#">
            </a>
          </div>
        </div>
        <div class="portlet-body">
          <div class="scroller" style="height: 300px;" data-always-visible="1"
               data-rail-visible="0">
            <ul class="feeds">
              <li>
                <div class="col1">
                  <div class="cont">
                    <div class="cont-col1">
                      <div class="label label-sm label-info">
                        <i class="fa fa-check"></i>
                      </div>
                    </div>
                    <div class="cont-col2">
                      <div class="desc">
                        You have 4 pending tasks. <span
                        class="label label-sm label-warning ">
												Take action <i class="fa fa-share"></i>
												</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col2">
                  <div class="date">
                    Just
                    now
                  </div>
                </div>
              </li>
              <li>
                <a href="#">
                  <div class="col1">
                    <div class="cont">
                      <div class="cont-col1">
                        <div class="label label-sm label-success">
                          <i class="fa fa-bar-chart-o"></i>
                        </div>
                      </div>
                      <div class="cont-col2">
                        <div class="desc">
                          Finance
                          Report
                          for
                          year
                          2013
                          has
                          been
                          released.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col2">
                    <div class="date">
                      20
                      mins
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <div class="col1">
                  <div class="cont">
                    <div class="cont-col1">
                      <div class="label label-sm label-danger">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                    <div class="cont-col2">
                      <div class="desc">
                        You
                        have
                        5
                        pending
                        membership
                        that
                        requires
                        a
                        quick
                        review.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col2">
                  <div class="date">
                    24
                    mins
                  </div>
                </div>
              </li>
              <li>
                <div class="col1">
                  <div class="cont">
                    <div class="cont-col1">
                      <div class="label label-sm label-info">
                        <i class="fa fa-shopping-cart"></i>
                      </div>
                    </div>
                    <div class="cont-col2">
                      <div class="desc">
                        New order received with <span
                        class="label label-sm label-success">
												Reference Number: DR23923 </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col2">
                  <div class="date">
                    30
                    mins
                  </div>
                </div>
              </li>
              <li>
                <div class="col1">
                  <div class="cont">
                    <div class="cont-col1">
                      <div class="label label-sm label-success">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                    <div class="cont-col2">
                      <div class="desc">
                        You
                        have
                        5
                        pending
                        membership
                        that
                        requires
                        a
                        quick
                        review.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col2">
                  <div class="date">
                    24
                    mins
                  </div>
                </div>
              </li>
              <li>
                <div class="col1">
                  <div class="cont">
                    <div class="cont-col1">
                      <div class="label label-sm label-default">
                        <i class="fa fa-bell-o"></i>
                      </div>
                    </div>
                    <div class="cont-col2">
                      <div class="desc">
                        Web server hardware needs to be upgraded. <span
                        class="label label-sm label-default ">
												Overdue </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col2">
                  <div class="date">
                    2
                    hours
                  </div>
                </div>
              </li>
              <li>
                <a href="#">
                  <div class="col1">
                    <div class="cont">
                      <div class="cont-col1">
                        <div class="label label-sm label-default">
                          <i class="fa fa-briefcase"></i>
                        </div>
                      </div>
                      <div class="cont-col2">
                        <div class="desc">
                          IPO
                          Report
                          for
                          year
                          2013
                          has
                          been
                          released.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col2">
                    <div class="date">
                      20
                      mins
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <div class="col1">
                  <div class="cont">
                    <div class="cont-col1">
                      <div class="label label-sm label-info">
                        <i class="fa fa-check"></i>
                      </div>
                    </div>
                    <div class="cont-col2">
                      <div class="desc">
                        You have 4 pending tasks. <span
                        class="label label-sm label-warning ">
												Take action <i class="fa fa-share"></i>
												</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col2">
                  <div class="date">
                    Just
                    now
                  </div>
                </div>
              </li>
              <li>
                <a href="#">
                  <div class="col1">
                    <div class="cont">
                      <div class="cont-col1">
                        <div class="label label-sm label-danger">
                          <i class="fa fa-bar-chart-o"></i>
                        </div>
                      </div>
                      <div class="cont-col2">
                        <div class="desc">
                          Finance
                          Report
                          for
                          year
                          2013
                          has
                          been
                          released.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col2">
                    <div class="date">
                      20
                      mins
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <div class="col1">
                  <div class="cont">
                    <div class="cont-col1">
                      <div class="label label-sm label-default">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                    <div class="cont-col2">
                      <div class="desc">
                        You
                        have
                        5
                        pending
                        membership
                        that
                        requires
                        a
                        quick
                        review.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col2">
                  <div class="date">
                    24
                    mins
                  </div>
                </div>
              </li>
              <li>
                <div class="col1">
                  <div class="cont">
                    <div class="cont-col1">
                      <div class="label label-sm label-info">
                        <i class="fa fa-shopping-cart"></i>
                      </div>
                    </div>
                    <div class="cont-col2">
                      <div class="desc">
                        New order received with <span
                        class="label label-sm label-success">
												Reference Number: DR23923 </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col2">
                  <div class="date">
                    30
                    mins
                  </div>
                </div>
              </li>
              <li>
                <div class="col1">
                  <div class="cont">
                    <div class="cont-col1">
                      <div class="label label-sm label-success">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                    <div class="cont-col2">
                      <div class="desc">
                        You
                        have
                        5
                        pending
                        membership
                        that
                        requires
                        a
                        quick
                        review.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col2">
                  <div class="date">
                    24
                    mins
                  </div>
                </div>
              </li>
              <li>
                <div class="col1">
                  <div class="cont">
                    <div class="cont-col1">
                      <div class="label label-sm label-warning">
                        <i class="fa fa-bell-o"></i>
                      </div>
                    </div>
                    <div class="cont-col2">
                      <div class="desc">
                        Web server hardware needs to be upgraded. <span
                        class="label label-sm label-default ">
												Overdue </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col2">
                  <div class="date">
                    2
                    hours
                  </div>
                </div>
              </li>
              <li>
                <a href="#">
                  <div class="col1">
                    <div class="cont">
                      <div class="cont-col1">
                        <div class="label label-sm label-info">
                          <i class="fa fa-briefcase"></i>
                        </div>
                      </div>
                      <div class="cont-col2">
                        <div class="desc">
                          IPO
                          Report
                          for
                          year
                          2013
                          has
                          been
                          released.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col2">
                    <div class="date">
                      20
                      mins
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="scroller-footer">
            <div class="btn-arrow-link pull-right">
              <a href="#">See All Records</a>
              <i class="icon-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
      &lt;!&ndash; END REGIONAL STATS PORTLET&ndash;&gt;
    </div>
    <div class="col-md-6 col-sm-12">
      &lt;!&ndash; BEGIN PORTLET&ndash;&gt;
      <div class="portlet light">
        <div class="portlet-title tabbable-line">
          <div class="caption caption-md">
            <i class="icon-globe font-green-haze hide"></i>
            <span
              class="caption-subject font-green-haze bold uppercase">Feeds</span>
          </div>
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#" data-target="#tab_1_1" data-toggle="tab">
                System </a>
            </li>
            <li>
              <a href="#" data-target="#tab_1_2" data-toggle="tab">
                Activities </a>
            </li>
          </ul>
        </div>
        <div class="portlet-body">
          &lt;!&ndash;BEGIN TABS&ndash;&gt;
          <div class="tab-content">
            <div class="tab-pane active" id="tab_1_1">
              <div class="scroller" style="height: 306px;"
                   data-always-visible="1" data-rail-visible1="0"
                   data-handle-color="#D7DCE2">
                <ul class="feeds">
                  <li>
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-success">
                            <i class="fa fa-bell-o"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc">
                            You have 4 pending tasks. <span
                            class="label label-sm label-info">
														Take action <i class="fa fa-share"></i>
														</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date">
                        Just
                        now
                      </div>
                    </div>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <div class="col1">
                        <div class="cont">
                          <div class="cont-col1">
                            <div class="label label-sm label-success">
                              <i class="fa fa-bell-o"></i>
                            </div>
                          </div>
                          <div class="cont-col2">
                            <div class="desc">
                              New
                              version
                              v1
                              .4
                              just
                              lunched
                              !
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col2">
                        <div class="date">
                          20
                          mins
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-danger">
                            <i class="fa fa-bolt"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc">
                            Database
                            server
                            #
                            12
                            overloaded.Please
                            fix
                            the
                            issue.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date">
                        24
                        mins
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-info">
                            <i class="fa fa-bullhorn"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc">
                            New
                            order
                            received
                            and
                            pending
                            for
                            process.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date">
                        30
                        mins
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-success">
                            <i class="fa fa-bullhorn"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc">
                            New
                            payment
                            refund
                            and
                            pending
                            approval.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date">
                        40
                        mins
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-warning">
                            <i class="fa fa-plus"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc">
                            New
                            member
                            registered.Pending
                            approval.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date">
                        1.5
                        hours
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-success">
                            <i class="fa fa-bell-o"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc">
                            Web server hardware needs to be upgraded. <span
                            class="label label-sm label-default ">
														Overdue </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date">
                        2
                        hours
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-default">
                            <i class="fa fa-bullhorn"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc">
                            Prod01
                            database
                            server
                            is
                            overloaded
                            90 %
                            .
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date">
                        3
                        hours
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-warning">
                            <i class="fa fa-bullhorn"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc">
                            New
                            group
                            created.Pending
                            manager
                            review.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date">
                        5
                        hours
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-info">
                            <i class="fa fa-bullhorn"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc">
                            Order
                            payment
                            failed.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date">
                        18
                        hours
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-default">
                            <i class="fa fa-bullhorn"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc">
                            New
                            application
                            received.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date">
                        21
                        hours
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-info">
                            <i class="fa fa-bullhorn"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc">
                            Dev90
                            web
                            server
                            restarted.Pending
                            overall
                            system
                            check.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date">
                        22
                        hours
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-default">
                            <i class="fa fa-bullhorn"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc">
                            New
                            member
                            registered.Pending
                            approval
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date">
                        21
                        hours
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-info">
                            <i class="fa fa-bullhorn"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc">
                            L45
                            Network
                            failure.Schedule
                            maintenance.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date">
                        22
                        hours
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-default">
                            <i class="fa fa-bullhorn"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc">
                            Order
                            canceled
                            with
                            failed
                            payment.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date">
                        21
                        hours
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-info">
                            <i class="fa fa-bullhorn"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc">
                            Web - A2
                            clound
                            instance
                            created.Schedule
                            full
                            scan.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date">
                        22
                        hours
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-default">
                            <i class="fa fa-bullhorn"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc">
                            Member
                            canceled.Schedule
                            account
                            review.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date">
                        21
                        hours
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-info">
                            <i class="fa fa-bullhorn"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc">
                            New
                            order
                            received.Please
                            take
                            care
                            of
                            it.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date">
                        22
                        hours
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-pane" id="tab_1_2">
              <div class="scroller" style="height: 337px;"
                   data-always-visible="1" data-rail-visible1="0"
                   data-handle-color="#D7DCE2">
                <ul class="feeds">
                  <li>
                    <a href="javascript:;">
                      <div class="col1">
                        <div class="cont">
                          <div class="cont-col1">
                            <div class="label label-sm label-success">
                              <i class="fa fa-bell-o"></i>
                            </div>
                          </div>
                          <div class="cont-col2">
                            <div class="desc">
                              New
                              user
                              registered
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col2">
                        <div class="date">
                          Just
                          now
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <div class="col1">
                        <div class="cont">
                          <div class="cont-col1">
                            <div class="label label-sm label-success">
                              <i class="fa fa-bell-o"></i>
                            </div>
                          </div>
                          <div class="cont-col2">
                            <div class="desc">
                              New
                              order
                              received
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col2">
                        <div class="date">
                          10
                          mins
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-danger">
                            <i class="fa fa-bolt"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc">
                            Order #24DOP4 has been rejected. <span
                            class="label label-sm label-danger ">
														Take action <i class="fa fa-share"></i>
														</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date">
                        24
                        mins
                      </div>
                    </div>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <div class="col1">
                        <div class="cont">
                          <div class="cont-col1">
                            <div class="label label-sm label-success">
                              <i class="fa fa-bell-o"></i>
                            </div>
                          </div>
                          <div class="cont-col2">
                            <div class="desc">
                              New
                              user
                              registered
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col2">
                        <div class="date">
                          Just
                          now
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <div class="col1">
                        <div class="cont">
                          <div class="cont-col1">
                            <div class="label label-sm label-success">
                              <i class="fa fa-bell-o"></i>
                            </div>
                          </div>
                          <div class="cont-col2">
                            <div class="desc">
                              New
                              user
                              registered
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col2">
                        <div class="date">
                          Just
                          now
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <div class="col1">
                        <div class="cont">
                          <div class="cont-col1">
                            <div class="label label-sm label-success">
                              <i class="fa fa-bell-o"></i>
                            </div>
                          </div>
                          <div class="cont-col2">
                            <div class="desc">
                              New
                              user
                              registered
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col2">
                        <div class="date">
                          Just
                          now
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <div class="col1">
                        <div class="cont">
                          <div class="cont-col1">
                            <div class="label label-sm label-success">
                              <i class="fa fa-bell-o"></i>
                            </div>
                          </div>
                          <div class="cont-col2">
                            <div class="desc">
                              New
                              user
                              registered
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col2">
                        <div class="date">
                          Just
                          now
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <div class="col1">
                        <div class="cont">
                          <div class="cont-col1">
                            <div class="label label-sm label-success">
                              <i class="fa fa-bell-o"></i>
                            </div>
                          </div>
                          <div class="cont-col2">
                            <div class="desc">
                              New
                              user
                              registered
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col2">
                        <div class="date">
                          Just
                          now
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <div class="col1">
                        <div class="cont">
                          <div class="cont-col1">
                            <div class="label label-sm label-success">
                              <i class="fa fa-bell-o"></i>
                            </div>
                          </div>
                          <div class="cont-col2">
                            <div class="desc">
                              New
                              user
                              registered
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col2">
                        <div class="date">
                          Just
                          now
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <div class="col1">
                        <div class="cont">
                          <div class="cont-col1">
                            <div class="label label-sm label-success">
                              <i class="fa fa-bell-o"></i>
                            </div>
                          </div>
                          <div class="cont-col2">
                            <div class="desc">
                              New
                              user
                              registered
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col2">
                        <div class="date">
                          Just
                          now
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          &lt;!&ndash;END TABS&ndash;&gt;
        </div>
      </div>
      &lt;!&ndash; END PORTLET&ndash;&gt;
    </div>
  </div>-->

</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<!--<script>
  Index.init();
  Tasks.initDashboardWidget();
</script>-->
<!-- BEGIN MAIN JS & CSS -->
