<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a ui-sref="home">Home</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a ui-sref="movements.list({status:undefined,revisions:undefined})">Team Leaderboard</a>
      <i class="fa fa-angle-right" ng-show="subPage"></i>
    </li><!-- 
    <li ng-show="subPage">
      <a ui-sref="movements.list">{{subPage}}</a>
    </li> -->
  </ul>

</div>
<button type="button" class="btn btn-default btn-sm" style=" float: right; margin: 10px 0px 0px 0px;" ng-csv="dataDow" filename="leader-board.csv" csv-header="['Title', 'Total Steps', 'Start Date','End Date','Average Steps','Total Members']">
    <span class="glyphicon glyphicon-save"></span> Download As CSV
</button>
<h3 class="page-title">
  Leader Board
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->

<div>
  <button type="button" ng-if="searchTotalSteps" class="btn btn-block btn-info" style="
    width: 16%; float:left;" ng-click="searchByTotalSteps()">Sort By Total Steps</button>
  <button type="button" ng-if="!searchTotalSteps" class="btn btn-block btn-info" style="
    width: 16%; float:left;" ng-click="searchByAvgSteps()">Sort By Average Steps</button>
  <button type="button" class="btn btn-block btn-info" style="width: 16%; float:left; margin: 0px 0px 0px 22px;" ng-click="sortByMemebers()">Sort By Total Members</button>
  <input type="text" ng-model="title" style="float: right;padding: 6px 61px 4px 3px;" placeholder="Search Teams" ng-change='forSearch()'></br></br></br>
  <div ng-show="showSearch" style="float: right; margin: 0px -21px 0px -20px;">
    <div class="row">
    <div class="col-md-12">
      <div class="portlet  box green">
        <div class="portlet-title">
          <!-- <div class="caption">
            <i class="fa fa-list"></i>{{subPage ? subPage : 'All Movements'}}
          </div> -->
          <!--<div class="actions">
            <a href="#" class="btn default yellow-stripe">
              <i class="fa fa-plus"></i>
                      <span class="hidden-480">
                      New Order </span>
            </a>
            <div class="btn-group">
              <a class="btn default yellow-stripe" href="#" data-toggle="dropdown">
                <i class="fa fa-share"></i>
                          <span class="hidden-480">
                          Tools </span>
                <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu pull-right">
                <li>
                  <a href="#">
                    Export to Excel </a>
                </li>
                <li>
                  <a href="#">
                    Export to CSV </a>
                </li>
                <li>
                  <a href="#">
                    Export to XML </a>
                </li>
                <li class="divider">
                </li>
                <li>
                  <a href="#">
                    Print Invoices </a>
                </li>
              </ul>
            </div>
          </div>-->
        </div>
        <div class="portlet-body">
          <p class="table-container">
            <!--<div class="table-actions-wrapper">
                          <span>
                          </span>
              <select class="table-group-action-input form-control input-inline input-small input-sm">
                <option value="">Select...</option>
                <option value="Cancel">Cancel</option>
                <option value="Cancel">Hold</option>
                <option value="Cancel">On Hold</option>
                <option value="Close">Close</option>
              </select>
              <button class="btn btn-sm yellow table-group-action-submit"><i class="fa fa-check"></i> Submit</button>
            </div>-->
          <table class="table table-striped table-bordered table-hover" id="datatable_ajax">
            <thead>
            <tr role="row" class="heading">
              <th width="2%">
                Rank
              </th>
              <!--<th width="5%">
                Record&nbsp;#
              </th>-->
              <th width="40%">
                Title
              </th>
              <th width="15%">
              Total Steps
              </th>
              <th width="15%">
                StartDate
              </th>
              <th width="15%">
                EndDate
              </th>
              <th width="15%">
                Average Steps
              </th>
              <!-- <th width="10%">
                Status
              </th> -->
              <!-- <th width="10%">
                Revisions
              </th> -->
              <th width="10%">
                Members
              </th>
              <!-- <th width="10%">
                Actions
              </th> -->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="movement in totalStepsMovement | filter:title">
              <td>{{$index+1}}</td>
              <td>

                <a ui-sref="movements.details({id:movement.id})"><img
                  ng-src="{{movement._picture.url}}" class="img-thumbnail pull-left" height="64"
                  width="64"
                  fallback-src loading-src style="margin-right: 10px"/></a>

                <a ui-sref="movements.details({id:movement.id})"><h4>{{movement.title| limitTo : 40}}</h4></a>

                <p>{{movement.description| limitTo : 80}}</p>

                <!--<small>{{movement.stepsTarget}}</small>-->
              </td>
              <td>{{movement.totalSteps}}</td>
              <td>{{movement.startDate | date : format : timezone}}</td>
              <td>{{movement.endDate | date : format : timezone}}</td>
              <!-- <td><span class="badge {{movement.trending === false?'badge-default':'badge-primary'}}">{{movement.trending}}</span>
              </td>
              <td>{{movement.status}}</td> -->
              <!-- <td>{{movement.revisions.length}}</td> -->
              <td>{{movement.avgSteps}}</td>
              <td>{{movement.memberCount}}</td>
              
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- End: life time stats -->
  </div>
  </div>
  <div class="row" ng-show="!showSearch">
    <div class="col-md-12">
      <!--<div class="note note-danger">
        <p>
          NOTE: The below datatable is not connected to a real database so the filter and sorting is just simulated for demo purposes only.
        </p>
      </div>-->
      <!-- Begin: life time stats -->
      <div class="portlet  box green">
        <div class="portlet-title">
        </div>
        <div class="portlet-body">
          <p class="table-container">
          <table class="table table-striped table-bordered table-hover" id="datatable_ajax">
            <thead>
            <tr role="row" class="heading">
              <th width="2%">
                Rank
              </th>
              <!--<th width="5%">
                Record&nbsp;#
              </th>-->
              <th width="40%">
                Title
              </th>
              <th width="15%">
              Total Steps
              </th>
              <th width="15%">
                StartDate
              </th>
              <th width="15%">
                EndDate
              </th>
              <th width="15%">
                Average Steps
              </th>
              <!-- <th width="10%">
                Status
              </th> -->
              <!-- <th width="10%">
                Revisions
              </th> -->
              <th width="10%">
                Members
              </th>
              <!-- <th width="10%">
                Actions
              </th> -->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="movement in movementsShow">
              <td>{{(page - 1) * 10 + ($index + 1 )}}</td>
              <td>

                <a ui-sref="movements.details({id:movement.id})"><img
                  ng-src="{{getImageWithSize(movement._picture,64)}}" class="img-thumbnail pull-left" height="64"
                  width="64"
                  fallback-src loading-src style="margin-right: 10px"/></a>

                <a ui-sref="movements.details({id:movement.id})"><h4>{{movement.title| limitTo : 40}}</h4></a>

                <p>{{movement.description| limitTo : 80}}</p>

                <!--<small>{{movement.stepsTarget}}</small>-->
              </td>
              <td>{{movement.totalSteps}}</td>
              <td>{{movement.startDate | date : format : timezone}}</td>
              <td>{{movement.endDate | date : format : timezone}}</td>
              <!-- <td><span class="badge {{movement.trending === false?'badge-default':'badge-primary'}}">{{movement.trending}}</span>
              </td>
              <td>{{movement.status}}</td> -->
              <!-- <td>{{movement.revisions.length}}</td> -->
              <td>{{movement.avgSteps}}</td>
              <td>{{movement.memberCount}}</td>
              
            </tr>
            </tbody>
          </table>
          <pagination ng-model="page" total-items="totalItems" items-per-page="pageSize" 
              max- size="10" ng-change="changePage()">  
          </pagination>
          <!-- <ul class="pagination">
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
          </ul> -->
        </div>
      </div>
    </div>
    <!-- End: life time stats -->
  </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
  //  TableAjax.init();
</script>
<!-- END MAIN JS -->
