<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a ui-sref="home">Home</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a ui-sref="mascotFeedTypes.list">Mascot Feed Types</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a ui-sref="mascotFeedTypes.create">{{subPage}}</a>
    </li>
  </ul>
  <div class="page-toolbar">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle"
              data-toggle="dropdown" dropdown-menu-hover data-delay="1000"
              data-close-others="true">
        Actions <i class="fa fa-angle-down"></i>
      </button>
    </div>
  </div>
</div>
<h3 class="page-title">
  {{subPage}} Mascot Feed Type
</h3>
<!-- END PAGE HEADER-->
<div class="row">
  <div class="col-md-6">
    <!-- BEGIN Portlet PORTLET-->
    <div class="portlet light" id="mascotFeedType_details_form_portlet">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-speech"></i>
          <span class="caption-subject bold uppercase"> {{subPage}}</span>
          <span class="caption-helper">Mascot Feed Type</span>
        </div>
        <div class="actions">
          <a href="javascript:;" ng-hide="editMode" ui-sref="mascotFeedTypes.details.edit({id:mascotFeedType.id})"
             class="btn btn-circle btn-default" ui-sref-active="active">
            <i class="fa fa-pencil"></i> Edit </a>
          <a href="javascript:;" ng-show="editMode" class="btn btn-circle btn-danger" ng-click="cancelEdit()">
            <i class="fa fa-close"></i> Cancel </a>
          <a href="javascript:;" ng-show="editMode" class="btn btn-circle btn-primary" ng-click="save(mascotFeedType)"
             ng-disabled="submitDisabled()">
            <i class="fa fa-check"></i> Save </a>
          <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title=""
             title="">
          </a>
        </div>
      </div>
      <div class="portlet-body form">
        <form class="form-horizontal" role="form" name="mascotFeedTypeForm">
          <div class="form-body">
            <div class="form-group">
              <div class="col-md-12">
                <h4 style="margin-top:5px"><span ng-hide="editMode">{{mascotFeedType.title}}</span>
                  <input name="title" ng-show="editMode" ng-model="mascotFeedType.title" class="form-control"
                         placeholder="Enter Title" ng-required="false" ng-minlength="5" required>
                  <span ng-show="editMode &&  ((!mascotFeedTypeForm.title.$error.minlength
                  && mascotFeedType.title.length) || mascotFeedTypeForm.title.$valid)" class="glyphicon glyphicon-ok validate"></span>
                  <span ng-show="editMode && (mascotFeedTypeForm.title.$error.minlength || mascotFeedTypeForm.title.$invalid)" class="glyphicon glyphicon-remove validate"></span>
                  </input>
                </h4>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                  <p ng-hide="editMode" ng-bind-html="mascotFeedType.description">
                  </p>
                  <p ng-show="editMode">
                    <textarea name="description" ng-model="mascotFeedType.description" class="form-control" rows="4"
                              placeholder="Enter a brief description of the mascotFeedType." ng-required="false" required></textarea>
                    <span ng-show="editMode && mascotFeedType.description.length" class="glyphicon glyphicon-ok validate"></span>
                    <span ng-show="editMode && !mascotFeedType.description.length" class="glyphicon glyphicon-remove validate"></span>
                  </p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Name</label>

              <div class="col-sm-8">
                <div ng-hide="editMode" style="vertical-align: middle; height:34px;line-height: 34px;">
                  <i style="vertical-align: middle">{{mascotFeedType.name}}</i>
                </div>

                  <input name="text" ng-disabled="!0" ng-show="editMode" ng-model="mascotFeedType.name" class="form-control"
                         placeholder="Enter Name" ng-required="true" ng-minlength="5" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Type</label>

              <div class="col-sm-8">
                <div ng-hide="editMode" style="vertical-align: middle; height:34px;line-height: 34px;">
                  <i style="vertical-align: middle">{{mascotFeedType.type}}</i>
                </div>

                  <input name="text" ng-disabled="!0" ng-show="editMode" ng-model="mascotFeedType.name" class="form-control"
                         placeholder="Enter Type" ng-required="true" ng-minlength="5" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">subType</label>

              <div class="col-sm-8">
                <div ng-hide="editMode" style="vertical-align: middle; height:34px;line-height: 34px;">
                  <i style="vertical-align: middle">{{mascotFeedType.subType}}</i>
                </div>

                  <input name="text" ng-disabled="!0" ng-show="editMode" ng-model="mascotFeedType.name" class="form-control"
                         placeholder="Enter subType" ng-required="true" ng-minlength="5" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-8">
                <div class="movement-image-holder">
                  <a href="javascript:;" ng-click="openTab(mascotFeedType._picture.url)" target="_blank"><img
                    ng-src="{{getImageWithSize(mascotFeedType._picture,300)}}" class="img-thumbnail movement-image"
                    width="100%" fallback-src
                    loading-src/></a>
                  <button class="btn bg-transparent text-white movement-image-edit-btn"
                          ng-click="clickToOpen()" ng-if="editMode"><span class="fa fa-pencil fa-3x"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<div ui-view></div>

