<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a ui-sref="home">Home</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a ui-sref="mascotImages.list">Mascot Images</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a ui-sref="mascotImages.create">{{subPage}}</a>
    </li>
  </ul>
  <div class="page-toolbar">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle"
              data-toggle="dropdown" dropdown-menu-hover data-delay="1000"
              data-close-others="true">
        Actions <i class="fa fa-angle-down"></i>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
        <li ui-sref-active="active">
          <a ui-sref="mascotImages.create">
            <i class="icon-plus"></i> New Mascot Image </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<h3 class="page-title">
  {{subPage}} Mascot Image
</h3>
<!-- END PAGE HEADER-->
<div class="row">
  <div class="col-md-6">
    <!-- BEGIN Portlet PORTLET-->
    <div class="portlet light" id="mascotImage_details_form_portlet">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-speech"></i>
          <span class="caption-subject bold uppercase"> {{subPage}}</span>
          <span class="caption-helper">Mascot Image</span>
        </div>
        <div class="actions">
          <a href="javascript:;" ng-hide="editMode" ui-sref="mascotImages.details.edit({id:mascotImage.id})"
             class="btn btn-circle btn-default" ui-sref-active="active">
            <i class="fa fa-pencil"></i> Edit </a>
          <a href="javascript:;" ng-show="editMode" class="btn btn-circle btn-danger" ng-click="deleteMascotImage(mascotImage)">
            <i class="fa fa-close"></i> Delete </a>
          <a href="javascript:;" ng-show="editMode" class="btn btn-circle btn-primary" ng-click="cancelEdit()">
            <i class="fa fa-close"></i> Cancel </a>
          <a href="javascript:;" ng-show="editMode" class="btn btn-circle btn-primary" ng-click="save(mascotImage)"
             ng-disabled="submitDisabled()">
            <i class="fa fa-check"></i> Save </a>
          <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title=""
             title="">
          </a>
        </div>
      </div>
      <div class="portlet-body form">
        <form class="form-horizontal" role="form" name="mascotImageForm">
          <div class="form-body">
            <div class="form-group">
              <div class="col-md-12">
                <h4 style="margin-top:5px"><span ng-hide="editMode">{{mascotImage.text}}</span>
                  <input name="text" ng-show="editMode" ng-model="mascotImage.text" class="form-control"
                         placeholder="Enter Mascot Text" ng-required="true" ng-minlength="5" required>
                  <span ng-show="editMode &&  ((!mascotImageForm.text.$error.minlength
                  && mascotImage.text.length) || mascotImageForm.text.$valid)" class="glyphicon glyphicon-ok validate"></span>
                  <span ng-show="editMode && (mascotImageForm.text.$error.minlength || mascotImageForm.text.$invalid)" class="glyphicon glyphicon-remove validate"></span>
                  </input>
                </h4>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3">
                <h4 style="margin-top:5px"><span ng-hide="editMode">{{mascotImage.order}}</span>
                  <input type="number" min="1" name="order" ng-show="editMode" ng-model="mascotImage.order" class="form-control"
                         placeholder="Order" ng-required="true" required>
                  </input>
                  <span ng-show="editMode &&  (!mascotImageForm.order.$error.type &&
                  (mascotImage.order > 0))" class="glyphicon glyphicon-ok validate">
                  </span>
                  <span ng-show="editMode && (mascotImageForm.order.$error.type || mascotImageForm.order.$invalid)" class="glyphicon glyphicon-remove validate"></span>
                </h4>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-8">
                <div class="movement-image-holder">
                  <a href="javascript:;" ng-click="openTab(mascotImage._picture.url)" target="_blank"><img
                    ng-src="{{getImageWithSize(mascotImage._picture,300)}}" class="img-thumbnail movement-image"
                    width="100%" fallback-src
                    loading-src/></a>
                  <button class="btn bg-transparent text-white movement-image-edit-btn"
                          ng-click="clickToOpen()" ng-if="editMode"><span class="fa fa-pencil fa-3x"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<div ui-view></div>

