<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a ui-sref="home">Home</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a ui-sref="movements.list">Teams</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a ui-sref="movements.create">{{subPage}}</a>
    </li>
  </ul>
  <div class="page-toolbar">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle"
              data-toggle="dropdown" dropdown-menu-hover data-delay="1000"
              data-close-others="true">
        Actions <i class="fa fa-angle-down"></i>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
        <li ui-sref-active="active">
          <a ui-sref="movements.create">
            <i class="icon-plus"></i> New Team </a>
        </li>
        <!--<li>
          <a href="#">
            <i class="icon-present"></i> New Event <span
            class="badge badge-success">4</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-basket"></i> New order </a>
        </li>-->
        <li class="divider">
        </li>
        <li>
          <a href="javascript:;" ui-sref="movements.list({status:'pending',revisions:undefined})">
            <i class="icon-flag"></i> Pending <span
            class="badge badge-danger">4</span>
          </a>
        </li>
        <li>
          <a href="javascript:;" ui-sref="movements.list({status:undefined,revisions:'pending'})">
            <i class="icon-users"></i> Revisions <span
            class="badge badge-warning">12</span>
          </a>
        </li>
        <li>
          <a href="javascript:;" ui-sref="movements.list({status:undefined,revisions:undefined})">
            <i class="icon-users"></i> All <span
            class="badge badge-warning">12</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<h3 class="page-title">
  {{subPage}} Team
</h3>
<!-- END PAGE HEADER-->
<div class="row">
  <div class="col-md-6">
    <!-- BEGIN Portlet PORTLET-->
    <div class="portlet light" id="movement_details_form_portlet">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-speech"></i>
          <span class="caption-subject bold uppercase"> {{subPage}}</span>
          <span class="caption-helper">Team</span>
        </div>
        <div class="actions">
          <a href="javascript:;" ng-hide="editMode" ui-sref="movements.details.edit({id:movement.id})"
             class="btn btn-circle btn-default" ui-sref-active="active">
            <i class="fa fa-pencil"></i> Edit </a>
          <a href="javascript:;" ng-show="editMode" class="btn btn-circle btn-danger" ng-click="cancelEdit()">
            <i class="fa fa-close"></i> Cancel </a>
          <a href="javascript:;" ng-show="editMode" class="btn btn-circle btn-primary" ng-click="save(movement)"
             ng-disabled="submitDisabled()">
            <i class="fa fa-check"></i> Save </a>
          <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title=""
             title="">
          </a>
        </div>
      </div>
      <div class="portlet-body form">
        <form class="form-horizontal" role="form" name="movementForm">
          <div class="form-body">
            <div class="form-group">
              <div class="col-md-4">
                <div class="movement-image-holder">
                  <a href="javascript:;" ng-click="openTab(user._picture.url)" target="_blank"><img
                    ng-src="{{movement._picture.url}}" class="img-thumbnail movement-image"
                    width="100%" fallback-src
                    loading-src/></a>
                  <button class="btn bg-transparent text-white movement-image-edit-btn"
                          ng-click="clickToOpen()" ng-if="editMode"><span class="fa fa-pencil fa-3x"></span>
                  </button>
                </div>
              </div>
              <div class="col-md-8">
              <div ng-show="isChanged()" type="warning" class="alert ng-isolate-scope alert-warning" role="alert">
                  <div><span class="ng-binding ng-scope">Save is enabled once you make changes</span>
              </div>
              </div>
                <h3 style="margin-top:5px"><span ng-hide="editMode">{{movement.title}}</span>
                  <input name="title" ng-show="editMode" ng-model="movement.title" class="form-control"
                         placeholder="Enter movement's title or cause" ng-required="true" ng-minlength="5" required>
                  <span ng-show="editMode &&  ((!movementForm.title.$error.minlength && movement.title.length) || movementForm.title.$valid)" class="glyphicon glyphicon-ok validate"></span>
                  <span ng-show="editMode && (movementForm.title.$error.minlength || movementForm.title.$invalid)" class="glyphicon glyphicon-remove validate"></span>
                  </input>
                </h3>

                <p ng-hide="editMode" ng-bind-html="movement.description">
                </p>

                <p ng-show="editMode">
                  <textarea name="description" ng-model="movement.description" class="form-control" rows="4"
                            placeholder="Enter a brief description of the movement." ng-required="true" required></textarea>
                  <span ng-show="editMode && movement.description.length" class="glyphicon glyphicon-ok validate"></span>
                  <span ng-show="editMode && !movement.description.length" class="glyphicon glyphicon-remove validate"></span>
                </p>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label"><b>About You/Organization</b></label>
              <div class="col-sm-8">
                <p ng-hide="editMode" ng-bind-html="movement.aboutYou"></p>

                <div class="input-group" ng-show="editMode">
                  <span class="input-group-addon">
                        <i class="fa fa-dot-circle-o"></i>
                        </span>
                  <textarea name="aboutYou" ng-model="movement.aboutYou" class="form-control" rows="4"
                            placeholder="Enter a brief description about yourself/Your organization"></textarea>

                </div>
                <!--<span ng-show="editMode" class="help-block">
                      A block of help text. </span>-->
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><b>One line summary</b></label>
              <div class="col-sm-8">
                <div ng-hide="editMode" style="vertical-align: middle; height:34px;line-height: 34px;">
                  <i style="vertical-align: middle">{{movement.cause}}</i>
                </div>


                <div class="input-group" ng-show="editMode">
                  <span class="input-group-addon">
												<i class="fa fa-dot-circle-o"></i>
												</span>
                  <input type="text" class="form-control" placeholder="Describe the movement in one line (optional)"
                         ng-model="movement.cause">

                </div>
                <!--<span ng-show="editMode" class="help-block">
											A block of help text. </span>-->
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><b>Steps Target</b></label>

              <div class="col-sm-8">
                <div ng-hide="editMode" style="vertical-align: middle; height:34px;line-height: 34px;">
                  <i style="vertical-align: middle">{{movement.stepsTarget}}</i>
                </div>


                <div class="input-group" ng-show="editMode">
                  <span class="input-group-addon">
												<i class="fa fa-dot-circle-o"></i>
												</span>
                  <input min="1" name="stepsTarget" type="number" class="form-control" placeholder="Enter target steps Count"
                         ng-model="movement.stepsTarget" ng-required="true" required>
                  <span ng-show="editMode && movementForm.stepsTarget.$valid" class="glyphicon glyphicon-ok validate stepsTarget"></span>
                  <span ng-show="editMode && movementForm.stepsTarget.$invalid" class="glyphicon glyphicon-remove validate stepsTarget"></span>
                </div>
                <!--<span ng-show="editMode" class="help-block">
											A block of help text. </span>-->
              </div>
            </div>
            <div class="form-group">

              <label class="col-sm-4 control-label">Start Date</label>

              <div class="col-sm-8">
                <div ng-hide="editMode" style="vertical-align: middle; height:34px;line-height: 34px;">
                  <i style="vertical-align: middle">{{movement.startDate | date : format : timezone}}</i>
                </div>

                <div class="input-group" ng-show="editMode">
                  <input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm:ss" ng-model="movement.startDate"
                         is-open="opened.startDate" min-date="minDate" ng-required="true" close-text="Close"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event,'startDate')"><i
                      class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
            <!--<p class="input-group">
                <input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="myDate" is-open="isOpen"  />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openCalendar($event, prop)"><i class="fa fa-calendar"></i></button>
                </span>
            </p>-->
            <div class="form-group">
              <label class="col-sm-4 control-label">End Date</label>

              <div class="col-sm-8">
                <div ng-hide="editMode" style="vertical-align: middle; height:34px;line-height: 34px;">
                  <i style="vertical-align: middle">{{movement.endDate | date : format : timezone}}</i>
                </div>

                <div class="input-group" ng-show="editMode">
                  <input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm:ss" ng-model="movement.endDate"
                         is-open="opened.endDate" min-date="minDate" ng-required="true" close-text="Close"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event,'endDate')"><i
                      class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Featured</label>

              <div class="col-sm-8" ng-show="{{movement.trending}}">
                <div ng-hide="editMode" style="vertical-align: middle; height:34px;line-height: 34px;">
                  <i style="vertical-align: middle">Yes</i>
                </div>

                <select class="form-control" ng-model="movement.trending" ng-show="editMode"
                        ng-options="o.v as o.n for o in [{ n: 'false', v: false }, { n: 'true', v: true }]">
                </select>
              </div>
              <div class="col-sm-8" ng-hide="{{movement.trending}}">
                <div ng-hide="editMode" style="vertical-align: middle; height:34px;line-height: 34px;">
                  <i style="vertical-align: middle">No</i>
                </div>

                <select class="form-control" ng-model="movement.trending" ng-show="editMode"
                        ng-options="o.v as o.n for o in [{ n: 'false', v: false }, { n: 'true', v: true }]">
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Status</label>

              <div class="col-sm-8">
                <div ng-hide="editMode" style="vertical-align: middle; height:34px;line-height: 34px;">
                  <i style="vertical-align: middle">{{movement.status}}</i>
                </div>

                <select class="form-control" ng-model="movement.status" ng-show="editMode">
                  <option>active</option>
                  <option>pending</option>
                  <option>rejected</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Company-wide team</label>

              <div class="col-sm-8" ng-show="{{movement.domainMovement}}">
                <div ng-hide="editMode" style="vertical-align: middle; height:34px;line-height: 34px;">
                  <i style="vertical-align: middle">Yes</i>
                </div>

                <select class="form-control" ng-model="movement.domainMovement" ng-show="editMode"
                        ng-options="o.v as o.n for o in [{ n: 'false', v: false }, { n: 'true', v: true }]">
                </select>
              </div>
              <div class="col-sm-8" ng-hide="{{movement.domainMovement}}">
                <div ng-hide="editMode" style="vertical-align: middle; height:34px;line-height: 34px;">
                  <i style="vertical-align: middle">No</i>
                </div>

                <select class="form-control" ng-model="movement.domainMovement" ng-show="editMode"
                        ng-options="o.v as o.n for o in [{ n: 'false', v: false }, { n: 'true', v: true }]">
                </select>
              </div>
            </div>
            <div class="form-group" ng-if="movement.initiator">
              <label class="col-sm-4 control-label">Initiator</label>

              <div class="col-sm-8">
                <div class="row">
                  <div class="col-md-3">
                    <div class="thumbnail">
                      <img class="item-pic" width="100%"
                           ng-src="{{getImageWithSize(movement.initiator._picture,50,true)}}"
                           fallback-src
                           loading-src>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <h4><a ui-sref="users.details({id:movement.initiator.id})" class="item-name primary-link">{{getDisplayName(movement.initiator)}}</a>
                    </h4>
                  </div>
                </div>


              </div>
            </div>

          </div>
        </form>

      </div>
    </div>
    <!-- PORTLET MAIN -->
    <div class="portlet light">
      <!-- STAT -->
      <div class="row list-separated profile-stat">
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="uppercase profile-stat-title">
            {{movementStats.memberships || 0}}
          </div>
          <div class="uppercase profile-stat-text">
            Members
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="uppercase profile-stat-title">
            {{movement.totalSteps || 0}}
          </div>
          <div class="uppercase profile-stat-text">
            Steps
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="uppercase profile-stat-title">
            {{movementStats.activities || 0}}
          </div>
          <div class="uppercase profile-stat-text">
            Activities
          </div>
        </div>
      </div>
      <!-- END STAT -->
      <div class="row" ng-if="movementMemberships.length">
        <div class="col-md-12">
          <h3>Top Members</h3>

          <!-- <div class="item" ng-repeat="member in movementMemberships">
             <div class="item-head">
               <div class="item-details">
                 <img class="item-pic" ng-src="{{activity.actor._picture.url}}" fallback-src loading-src>
                 <a href="" class="item-name primary-link">{{activity.actor.username}}</a>
                 <span class="item-label" am-time-ago="activity.created"></span>
               </div>
               &lt;!&ndash; <span class="item-status"><span class="badge badge-empty badge-success"></span> Open</span> &ndash;&gt;
             </div>
             <div class="item-body" style="padding-left: 50px;">
               {{activity.text}}
               <img ng-src="{{activity._picture.url}}" class="img-thumbnail" ng-show="activity._picture.url"
                    fallback-src loading-src
                    width="100%"/>
             </div>
           </div>-->


          <div class="table-scrollable table-scrollable-borderless">
            <table class="table table-hover table-light">
              <thead>
              <tr class="uppercase">
                <th colspan="2">
                  MEMBER
                </th>
                <th>
                  STEPS
                </th>
                <th>
                  JOINED
                </th>
                <th>
                  UNJOIN
                </th>
              </tr>
              </thead>
              <tr ng-repeat="membership in movementMemberships">
                <td class="fit">
                  <img class="user-pic" ng-src="{{getImageWithSize(membership.user._picture,32,true)}}" fallback-src
                       loading-src>
                </td>
                <td>
                  <a ui-sref="users.details({id:membership.user.id})" class="primary-link">{{getDisplayName(membership.user)}}</a>
                </td>
                <td>
                  {{membership.totalSteps}}
                </td>
                <td>
                  <span am-time-ago="membership.joinDate"/>
                </td>
                <td>
                  <a href="javascript:;" class="btn btn-danger btn-xs" ng-click="deleteMember(movement.id, membership.userId)">
                    <i class="icon-trash icon-white"></i> DELETE </a>
                </td>
              </tr>

            </table>
            <pagination ng-model="page" total-items="totalItems" items-per-page="memberPageSize" max-size="6" ng-change="pageChanged(page)"></pagination>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- END Portlet PORTLET-->
  <div class="col-md-6" ng-show="!(isCreate)">
    <div class="portlet light">
      <div class="portlet-title">
        <div class="caption caption-md">
          <i class="icon-bar-chart theme-font hide"></i>
          <span class="caption-subject font-blue-madison bold uppercase">Team Timeline</span>
          <!-- <span class="caption-helper">45 pending</span> -->
        </div>
        <div class="inputs">
          <div class="portlet-input input-inline input-small ">
            <div class="input-icon right">
              <i class="icon-magnifier"></i>
              <input type="text" class="form-control form-control-solid" placeholder="search...">
            </div>
          </div>
        </div>
      </div>
      <div class="portlet-body">
        <!-- <div class="scroller" data-always-visible="1" data-rail-visible1="0"
        data-handle-color="#D7DCE2"> -->

        <div class="general-item-list">
          <div class="item" id="movement-add-post-item">
            <textarea class="form-control" placeholder="Share something with movement members..."
                      ng-model="newPost.text"></textarea>
            <hr>
            <img ng-src="{{newPost._picture.url}}" width="100%" ng-if="newPost._picture" class="img-thumbnail"fallback-src loading-src/>
            <toggle-switch ng-model="newPost.sticky" style="float: left; margin-left: 8px;" class='switch-success switch-mini'>
            </toggle-switch>
            <span style="margin-left: 7px;">Pinned</span>
            <div class="">
              <a href="javascript:;" class="btn btn-circle btn-primary pull-right" ng-click="addPost(newPost)"
                 ng-disabled="false">POST</a>
              <button class="btn btn-circle bg-transparent text-white pull-right" style="margin-right: 10px;"
                      ng-click="addPictureToPost()"><span class="fa fa-camera fa-3x"></span>
              </button>
            </div>
            <div class="clearfix"></div>
          </div>


          <div class="item" ng-repeat="activity in movementActivities">
            <div class="item-head">
              <div class="item-details">
                <img class="item-pic" ng-src="{{getImageWithSize(activity.actor._picture,32,true)}}" fallback-src
                     loading-src>
                <a ui-sref="users.details({id:activity.actor.id})" class="item-name primary-link">{{getDisplayName(activity.actor)}}</a>
                <span class="item-label" am-time-ago="activity.created"></span>
              </div><span style="float: right;margin: 0px 0px 0px 7px;">Pinned</span>
              <toggle-switch
                ng-model="activity.sticky" style="float: right;" class='switch-success switch-mini' ng-change='pinnedPost(activity.sticky,activity.id)'>
              </toggle-switch>
              <!-- <span class="item-status"><span class="badge badge-empty badge-success"></span> Open</span> -->
            </div>
            <div class="item-body" style="padding-left: 50px;">
              {{activity.text}}
              <img ng-src="{{activity._picture.url}}" class="img-thumbnail" ng-show="activity._picture.url"
                   fallback-src loading-src
                   width="100%"/>
            </div>
            <div>
              <div class='box-footer box-comments' style="padding: 10px 10px 0px 10px; margin: 5px 0px 0px 49px;" ng-show='activity.comments.length'>
                <div ng-repeat="comment in activity.comments">
                  <div class="box-comment" >
                    <img class="img-circle img-sm" src={{comment.user._picture.url}} alt="user image">
                    <div class="comment-text">
                      <span class="username" style="margin: -27px 0px 0px 0px;padding: 1px 16px 0px 0px;"><a href="#/users/{{comment.userId}}">{{comment.user.fullName || comment.user.username}}</a>
                        <span class="text-muted pull-right" am-time-ago="comment.created"></span>
                      </span><br>
                      <p>{{comment.text}}<p>
                    </div>
                  </div>
                </div>
              </div>
              <div class='box-footer box-comments' style="padding: 10px 10px 0px 10px; margin: 5px 0px 0px 49px;">
                <div class="box-footer">
                    <img class="img-circle img-sm" src="{{domainAdmin._picture.url}}" alt="alt text">
                    <!-- .img-push is used to add margin to elements next to floating images -->
                    <div class="img-push" style=" margin: -28px 0px 0px 44px;">
                      <textarea id='comment-input' type="text" ng-model='movementActivities[$index].commentData' class="form-control input-sm" placeholder="Press enter the comment here" area-multiline="true">
                      </textarea>
                      <button class="btn btn-block btn-primary btn-xs" ng-disabled='commentSendButton' ng-click='postComment(activity.id, $index)'style="width: 19%;float: right;margin: 5px 0px 0px 0px;">send</button>
                    </div>
                </div>
              </div>
          </div>

          </div>
        </div>
      </div>

    <pagination ng-model="pagePost" total-items="totalItemsPost" items-per-page="postPageSize" max-size="6" ng-change="pageChangedPost(pagePost)" ></pagination>
    </div>
  </div>
</div>
</div>
<div ui-view></div>

