<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a ui-sref="home">Home</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a ui-sref="movements.list({status:undefined,revisions:undefined})">Teams</a>
      <i class="fa fa-angle-right" ng-show="subPage"></i>
    </li>
    <li ng-show="subPage">
      <a ui-sref="movements.list">{{subPage}}</a>
    </li>
  </ul>
  <div class="page-toolbar">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle"
              data-toggle="dropdown" dropdown-menu-hover data-delay="1000"
              data-close-others="true">
        Actions <i class="fa fa-angle-down"></i>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
        <li ui-sref-active="active">
          <a ui-sref="movements.create">
            <i class="icon-plus"></i> New Team </a>
        </li>
        <!--<li>
          <a href="#">
            <i class="icon-present"></i> New Event <span
            class="badge badge-success">4</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-basket"></i> New order </a>
        </li>-->
        <li class="divider">
        </li>
        <li>
          <a href="javascript:;" ui-sref="movements.list({status:'pending',revisions:undefined})">
            <i class="icon-flag"></i> Pending <!--<span
            class="badge badge-danger">4</span>-->
          </a>
        </li>
        <!-- <li>
          <a href="javascript:;" ui-sref="movements.list({status:undefined,revisions:'pending'})">
            <i class="icon-users"></i> Revisions 
          </a>
        </li> -->
        <li>
          <a href="javascript:;" ui-sref="movements.list({status:undefined,revisions:undefined})">
            <i class="icon-users"></i> All <!--<span
            class="badge badge-warning">12</span>-->
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<h3 class="page-title">
  Teams
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div>
  <div class="row">
    <div class="col-md-12">
      <!--<div class="note note-danger">
        <p>
          NOTE: The below datatable is not connected to a real database so the filter and sorting is just simulated for demo purposes only.
        </p>
      </div>-->
      <!-- Begin: life time stats -->
      <div class="portlet  box green">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-list"></i>{{subPage ? subPage : 'All Movements'}}
          </div>
          <!--<div class="actions">
            <a href="#" class="btn default yellow-stripe">
              <i class="fa fa-plus"></i>
                      <span class="hidden-480">
                      New Order </span>
            </a>
            <div class="btn-group">
              <a class="btn default yellow-stripe" href="#" data-toggle="dropdown">
                <i class="fa fa-share"></i>
                          <span class="hidden-480">
                          Tools </span>
                <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu pull-right">
                <li>
                  <a href="#">
                    Export to Excel </a>
                </li>
                <li>
                  <a href="#">
                    Export to CSV </a>
                </li>
                <li>
                  <a href="#">
                    Export to XML </a>
                </li>
                <li class="divider">
                </li>
                <li>
                  <a href="#">
                    Print Invoices </a>
                </li>
              </ul>
            </div>
          </div>-->
        </div>
        <div class="portlet-body">
          <p class="table-container">
            <!--<div class="table-actions-wrapper">
                          <span>
                          </span>
              <select class="table-group-action-input form-control input-inline input-small input-sm">
                <option value="">Select...</option>
                <option value="Cancel">Cancel</option>
                <option value="Cancel">Hold</option>
                <option value="Cancel">On Hold</option>
                <option value="Close">Close</option>
              </select>
              <button class="btn btn-sm yellow table-group-action-submit"><i class="fa fa-check"></i> Submit</button>
            </div>-->
          <table class="table table-striped table-bordered table-hover" id="datatable_ajax">
            <thead>
            <tr role="row" class="heading">
              <th width="2%">
                <!-- <input type="checkbox" class="group-checkable"> -->
              </th>
              <!--<th width="5%">
                Record&nbsp;#
              </th>-->
              <th width="40%">
                Title
              </th>
              <th width="15%">
                Total Steps
              </th>
              <th width="15%">
                StartDate
              </th>
              <th width="15%">
                EndDate
              </th>
              <th width="10%">
                Featured
              </th>
              <th width="10%">
                Status
              </th>
              <!-- <th width="10%">
                Revisions
              </th> -->
              <th width="10%">
                Members
              </th>
              <th width="10%">
                Actions
              </th>
            </tr>
            <tr role="row" class="filter">
              <td>
              </td>
              <td>
                <input type="text" class="form-control form-filter input-sm" name="title" ng-model="where.title.like">
              </td>
              <td>

              </td>
              <td>
                <p class="input-group">
                  <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy"
                         ng-model="where.startDate.gt"
                         is-open="opened.startDateGt" min-date="minDate" datepicker-options="dateOptions"
                         date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event,'startDateGt')"><i
                      class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
                <p class="input-group">
                  <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy"
                         ng-model="where.startDate.lt"
                         is-open="opened.startDateLt" min-date="minDate" datepicker-options="dateOptions"
                         date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event,'startDateLt')"><i
                      class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </td>
              <td>
                <p class="input-group">
                  <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy"
                         ng-model="where.endDate.gt"
                         is-open="opened.endDateGt" min-date="minDate" datepicker-options="dateOptions"
                         date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event,'endDateGt')"><i
                      class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
                <p class="input-group">
                  <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy"
                         ng-model="where.endDate.lt"
                         is-open="opened.endDateLt" min-date="minDate" datepicker-options="dateOptions"
                         date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event,'endDateLt')"><i
                      class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </td>
              <td>
                <select name="trending" class="form-control form-filter input-sm" ng-model="where.trending">
                  <option value="">All</option>
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                </select>
              </td>
              <td>
                <select name="order_status" class="form-control form-filter input-sm" ng-model="where.status">
                  <option value="">All</option>
                  <option value="pending">pending</option>
                  <option value="active">active</option>
                  <option value="rejected">rejected</option>
                </select>
              </td>
              <td>

              </td>
              <!-- <td>
                <select name="revision_status" class="form-control form-filter input-sm" ng-model="where.revisions">
                  <option value="">All</option>
                  <option value="pending">pending</option>
                  <option value="applied">applied</option>
                </select>
              </td> -->
              <td>
                <div class="margin-bottom-5">
                  <button class="btn btn-sm yellow filter-submit margin-bottom" ng-click="search(where)"><i
                    class="fa fa-search"></i> Search
                  </button>
                </div>
                <button class="btn btn-sm red filter-cancel" ng-click="reset()"><i class="fa fa-times"></i> Reset
                </button>
              </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="movement in movements">
              <td><input type="checkbox"/></td>
              <td>

                <a ui-sref="movements.details({id:movement.id})"><img
                  ng-src="{{movement._picture.url}}" class="img-thumbnail pull-left" height="64"
                  width="64"
                  fallback-src loading-src style="margin-right: 10px"/></a>

                <a ui-sref="movements.details({id:movement.id})"><h4>{{movement.title| limitTo : 40}}</h4></a>

                <p>{{movement.description| limitTo : 50}}</p>

                <!--<small>{{movement.stepsTarget}}</small>-->
              </td>
              <td>{{movement.totalSteps}}</td>
              <td>{{movement.startDate | date : format : timezone}}</td>
              <td>{{movement.endDate | date : format : timezone}}</td>
              <td  ng-show = "{{movement.trending}}"><span class="badge {{movement.trending === false?'badge-default':'badge-primary'}}">Yes</span>
              </td>
              <td  ng-hide = "{{movement.trending}}"><span class="badge {{movement.trending === false?'badge-default':'badge-primary'}}">No</span>
              </td>
              <td>{{movement.status}}</td>
              <!-- <td>{{movement.revisions.length}}</td> -->
              <td>{{movement.memberCount}}</td>
              <td>
                <!-- Single button -->
                <div class="btn-group" dropdown>
                  <button type="button" class="btn btn-sm btn-default" dropdown-toggle>
                    Actions <i class="fa fa-angle-down"></i>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a ui-sref="movements.details.edit({id:movement.id})"><span
                      class="fa fa-pencil-square-o"></span> Edit</a></li>
                    <li><a ng-click="rejected(movement)"><span
                      class="glyphicon glyphicon-remove"></span> Rejected</a></li>
                    <li><a ng-click="approve(movement)"><span class="icon-check"></span> Approve</a></li>
                    <li><a ng-click="toggleTrending(movement)"><span class="icon-{{movement.trending
                      === false?'plus':'close'}}"></span> Trending</a></li>
                    <li class="divider"></li>
                    <li><a ui-sref="movements.details({id:movement.id})"><span class="fa fa-line-chart"></span>
                      Stats</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination ng-model="page" total-items="totalItems" items-per-page="pageSize" max-size="10"
                      ng-change="pageChanged()"></pagination>
        </div>
      </div>
    </div>
    <!-- End: life time stats -->
  </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
  //  TableAjax.init();
</script>
<!-- END MAIN JS -->
