<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a href="#/dashboard.html">Home</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a>Tasks</a>
      <i class="fa fa-angle-right"></i>
    </li>    
    <li>
      <a href="#/tasks/">Task #</a>
    </li>
  </ul>
  <div class="page-toolbar">

  </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-view class="row">
  <div class="col-md-12">
    <!-- Begin: life time stats -->

    <!-- End: life time stats -->
  </div>
</div>
<!-- END MAIN CONTENT -->
