<div class="modal-header dialog-header-confirm">
  <h4 class="modal-title">
    <span class="glyphicon glyphicon-edit"></span> {{task.taskType.displayName}}
  </h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-8">
        <div class="portlet-body">
          <div class="row static-info">
            <div class="col-md-5 name">
              Task Message:
            </div>
            <div class="col-md-7 value">
              {{task.taskType.message}}
            </div>
          </div>
          <div class="row static-info">
            <div class="col-md-5 name">
              {{task.contextType}}:
            </div>
            <div class="col-md-7 value">
              {{task.message}}
            </div>
          </div>
          <div class="row static-info">
            <div class="col-md-5 name">
              Status:
            </div>
            <div class="col-md-7 value">
              <span class="label label-success">
                {{task.status}} </span>
            </div>
          </div>
          <div class="row static-info">
            <div class="col-md-5 name">
              Date:
            </div>
            <div class="col-md-7 value">
              {{task.created| date : format : timezone}}
            </div>
          </div>
          <div class="row static-info">
            <div class="col-md-5 name">
              Review Task:
            </div>
            <div class="col-md-7 value">
              <a ng-click="resolveTask()" class="primary-link">Review {{task.contextType}}</a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="center-block text-left">
  You will be automatically redirected to review the task in 5 seconds
  </div>
</div>
