<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a ui-sref="home">Home</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a ui-sref="users.list">Users</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      Send Email To Selected Users
    </li>
  </ul>
</div>
<h3 class="page-title">
  {{subPage}} Email For Users
</h3>
<!-- END PAGE HEADER-->
<div class="row" id='blockUI'>
  <!-- END Portlet PORTLET-->
  <div class = "col-md-6">
    <div class="portlet light">
      <div class="portlet-title">
        <div class="caption caption-md">
          <i class="icon-bar-chart theme-font hide"></i>
          <span class="caption-subject font-blue-madison bold uppercase">Email Users</span>
          <!-- <span class="caption-helper">45 pending</span> -->
        </div>
      </div>
      <div class="col-sm-10" style="margin: 4px 0px 0px -16px;">
        From:<input type="email" class="form-control" ng-model='from' placeholder='Enter from email'>
      </div>
      <div class="col-sm-10">
        <input type="text" ng-model='subject' class="form-control" style="margin: 17px 0px 11px -16px;" placeholder='Subject'>
      </div>
      <div class="col-sm-10">
        <input type="text" ng-model='fromName' class="form-control" style="margin: 7px 0px 11px -16px;" placeholder='From Name'>
      </div>
      <!-- <text-angular ng-model="htmlVariable" ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default" ta-toolbar-button-active-class="active"></text-angular> -->
      <div class="portlet-body">
        <!-- <div class="scroller" data-always-visible="1" data-rail-visible1="0"
        data-handle-color="#D7DCE2"> -->
        <summernote ng-model="htmlVariable" config='options' on-image-upload="imageUpload(files)" editable="editable" editor="editor"></summernote>
        <div class="general-item-list">
          <div class="item" id="create-mascot-item" ng-hide="!isCreate">
            <div>
              <a href="javascript:;" class="btn btn-circle btn-primary pull-right" ng-click="sendEmail(htmlVariable)"
                 ng-disabled="emailSubmitDisabled()">SEND</a>

            </div>
            <div class="clearfix"></div>
          </div>


          <div class="item" ng-hide="isCreate">
            <div class="item-head">
              <div class="item-details">
                <img class="item-pic" ng-src="{{getImageWithSize(creator._picture,32)}}" fallback-src
                     loading-src>
                <a class="item-name primary-link">{{getDisplayName(creator)}}</a>
                <span class="item-label" am-time-ago="mascotFeed.created"></span>
              </div>
            </div>
            <div class="item-body" style="padding-left: 50px;">
              <span ng-hide="mascotFeed.editMode"><b>{{mascotFeed.heading}}</b></span>
              <input class="form-control" ng-model="mascotFeed.heading" ng-show="mascotFeed.editMode" />
              <br/>
              <span ng-hide="mascotFeed.editMode">{{mascotFeed.data.text}}</span>
              <input class="form-control" ng-model="mascotFeed.data.text" ng-show="mascotFeed.editMode" />
              <br/>
              <img ng-src="{{getImageWithSize(mascotFeed._picture,200)}}" class="img-thumbnail"
                   ng-show="mascotFeed._picture.url"
                   fallback-src loading-src
                   width="100%"/>
              </button>
              <div class="clearfix"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class = "col-md-6">
    <div class="portlet light">
      <div class="portlet-title">
        <div class="caption caption-md">
          <i class="icon-bar-chart theme-font hide"></i>
          <span class="caption-subject font-blue-madison bold uppercase">Selected Users</span>
          <!-- <span class="caption-helper">45 pending</span> -->
        </div>
      </div>
      <div class="portlet-bpdy">
        <div class="general-item-list">
          <div class="item" ng-repeat="user in users">
            <div class="item-head">
              <div class="item-details">
                <img class="item-pic" ng-src="{{getImageWithSize(user._picture,32,true)}}" fallback-src
                     loading-src>
                <a ui-sref="users.details({id:user.id})" class="item-name primary-link">{{getDisplayName(user)}}</a>
                <span class="item-label" am-time-ago="user.created"></span>
              </div>
              <!-- <span class="item-status"><span class="badge badge-empty badge-success"></span> Open</span> -->
            </div>
          </div>
        </div>
      </div>
      <pagination ng-model="userPage" total-items="totalUsers" items-per-page="userPageSize" max-size="8" ng-change="pageChanged()"></pagination>
    </div>
  </div>
</div>
</div>
<div ui-view></div>

