<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a ui-sref="home">Home</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a ui-sref="userJourneys.list">User Journeys</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a ui-sref="userJourneys.create">{{subPage}}</a>
    </li>
  </ul>
  <div class="page-toolbar">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle"
              data-toggle="dropdown" dropdown-menu-hover data-delay="1000"
              data-close-others="true">
        Actions <i class="fa fa-angle-down"></i>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
        <li ui-sref-active="active">
          <a ui-sref="userJourneys.create">
            <i class="icon-plus"></i> New User Journey </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<h3 class="page-title">
  {{subPage}} User Journey
</h3>
<!-- END PAGE HEADER-->
<div class="row">
  <div class="col-md-6">
    <!-- BEGIN Portlet PORTLET-->
    <div class="portlet light" id="userJourney_details_form_portlet">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-speech"></i>
          <span class="caption-subject bold uppercase"> {{subPage}}</span>
          <span class="caption-helper">User Journey</span>
        </div>
        <div class="actions">
          <a href="javascript:;" ng-hide="editMode" ui-sref="userJourneys.details.edit({id:userJourney.id})"
             class="btn btn-circle btn-default" ui-sref-active="active">
            <i class="fa fa-pencil"></i> Edit </a>
          <a href="javascript:;" ng-show="editMode" class="btn btn-circle btn-danger" ng-click="deleteUserJourney(userJourney)">
            <i class="fa fa-close"></i> Delete </a>
          <a href="javascript:;" ng-show="editMode" class="btn btn-circle btn-primary" ng-click="cancelEdit()">
            <i class="fa fa-close"></i> Cancel </a>
          <a href="javascript:;" ng-show="editMode" class="btn btn-circle btn-primary" ng-click="save(userJourney)"
             ng-disabled="submitDisabled()">
            <i class="fa fa-check"></i> Save </a>
          <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title=""
             title="">
          </a>
        </div>
      </div>
      <div class="portlet-body form">
        <form class="form-horizontal" role="form" name="userJourneyForm">
          <div class="form-body">
            <div class="form-group">
              <div class="col-md-12">
                <h4 style="margin-top:5px"><span ng-hide="editMode">{{userJourney.name}}</span>
                  <input name="name" ng-show="editMode" ng-model="userJourney.name" class="form-control"
                         placeholder="Enter Name" ng-required="false" ng-minlength="5">
                  </input>
                </h4>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                  <p ng-hide="editMode" ng-bind-html="userJourney.description">
                  </p>
                  <p ng-show="editMode">
                    <textarea name="description" ng-model="userJourney.description" class="form-control" rows="4"
                              placeholder="Enter a brief description of the userJourney." ng-required="false"></textarea>
                  </p>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <h4 style="margin-top:5px"><span ng-hide="editMode">{{userJourney.heading}}</span>
                  <input name="heading" ng-show="editMode" ng-model="userJourney.heading" class="form-control"
                         placeholder="Enter Heading" ng-required="false" ng-minlength="5">
                  </input>
                </h4>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <h4 style="margin-top:5px"><span ng-hide="editMode">{{userJourney.text}}</span>
                  <input name="text" ng-show="editMode" ng-model="userJourney.text" class="form-control"
                         placeholder="Enter Text" ng-required="false" ng-minlength="5">
                  </input>
                </h4>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Week #</label>
              <div class="col-md-8">
                <h4 style="margin-top:5px"><span ng-hide="editMode">{{userJourney.week}}</span>
                  <input type="number" min="1" name="week" ng-show="editMode" ng-model="userJourney.week" class="form-control"
                         placeholder="Week #" ng-required="true" required>
                  </input>
                  <span ng-show="editMode &&  (!userJourneyForm.week.$error.type &&
                  (userJourney.week > 0))" class="glyphicon glyphicon-ok validate">
                  </span>
                  <span ng-show="editMode && (userJourneyForm.week.$error.type || userJourneyForm.week.$invalid)" class="glyphicon glyphicon-remove validate"></span>
                </h4>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Day of the week</label>
              <div class="col-md-8">
                <h4 style="margin-top:5px"><span ng-hide="editMode">{{userJourney.dayOfWeek}}</span>
                <select ng-show="editMode" class="form-control" ng-model="userJourney.dayOfWeek" ng-options="v for v in dayOptions">
                </select>
                </h4>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Order</label>
              <div class="col-md-8">
                <h4 style="margin-top:5px"><span ng-hide="editMode">{{userJourney.order}}</span>
                  <input type="number" min="1" name="order" ng-show="editMode" ng-model="userJourney.order" class="form-control"
                         placeholder="Order" ng-required="true" required>
                  </input>
                  <span ng-show="editMode &&  (!userJourneyForm.order.$error.type &&
                  (userJourney.order > 0))" class="glyphicon glyphicon-ok validate">
                  </span>
                  <span ng-show="editMode && (userJourneyForm.order.$error.type || userJourneyForm.order.$invalid)" class="glyphicon glyphicon-remove validate"></span>
                </h4>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Push Notification</label>
              <div class="col-md-8">
                <h4 style="margin-top:5px"><span ng-hide="editMode">{{userJourney.pushNotify}}</span>
                <select ng-show="editMode" class="form-control" ng-model="userJourney.pushNotify" ng-options="v for v in pushOptions">
                </h4>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Time of day</label>
              <div class="col-sm-8">
                <div ng-hide="editMode" style="vertical-align: middle; height:34px;line-height: 34px;">
                  <span>{{userJourney.whenToSend}}</span>
                </div>
                <select ng-show="editMode" class="form-control" ng-model="userJourney.whenToSend" ng-options="v for v in whenToSendOptions">
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-8">
                <div class="movement-image-holder">
                  <a href="javascript:;" ng-click="openTab(userJourney._picture.url)" target="_blank"><img
                    ng-src="{{getImageWithSize(userJourney._picture,300)}}" class="img-thumbnail movement-image"
                    width="100%" fallback-src
                    loading-src/></a>
                  <button class="btn bg-transparent text-white movement-image-edit-btn"
                          ng-click="clickToOpen()" ng-if="editMode"><span class="fa fa-pencil fa-3x"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<div ui-view></div>

