<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a ui-sref="home">Home</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a ui-sref="users.mascotFeedsToSelectedList">Mascot Feeds</a>
    </li>
  </ul>
  <div class="page-toolbar">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle"
              data-toggle="dropdown" dropdown-menu-hover data-delay="1000"
              data-close-others="true">
        Actions <i class="fa fa-angle-down"></i>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
        <li ui-sref-active="active">
          <a ui-sref="users.mascotFeedsToSelected">
            <i class="icon-bell"></i> Notify Users </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<h3 class="page-title">
  Mascot Feeds
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div>
  <div class="row">
    <div class="col-md-12">
      <!--<div class="note note-danger">
        <p>
          NOTE: The below datatable is not connected to a real database so the filter and sorting is just simulated for demo purposes only.
        </p>
      </div>-->
      <!-- Begin: life time stats -->
      <div class="portlet  box green">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-list"></i>{{subPage ? subPage : 'All Mascot Feeds'}}
          </div>
          <!--<div class="actions">
            <a href="#" class="btn default yellow-stripe">
              <i class="fa fa-plus"></i>
                      <span class="hidden-480">
                      New Order </span>
            </a>
            <div class="btn-group">
              <a class="btn default yellow-stripe" href="#" data-toggle="dropdown">
                <i class="fa fa-share"></i>
                          <span class="hidden-480">
                          Tools </span>
                <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu pull-right">
                <li>
                  <a href="#">
                    Export to Excel </a>
                </li>
                <li>
                  <a href="#">
                    Export to CSV </a>
                </li>
                <li>
                  <a href="#">
                    Export to XML </a>
                </li>
                <li class="divider">
                </li>
                <li>
                  <a href="#">
                    Print Invoices </a>
                </li>
              </ul>
            </div>
          </div>-->
        </div>
        <div class="portlet-body">
          <p class="table-container">
            <!--<div class="table-actions-wrapper">
                          <span>
                          </span>
              <select class="table-group-action-input form-control input-inline input-small input-sm">
                <option value="">Select...</option>
                <option value="Cancel">Cancel</option>
                <option value="Cancel">Hold</option>
                <option value="Cancel">On Hold</option>
                <option value="Close">Close</option>
              </select>
              <button class="btn btn-sm yellow table-group-action-submit"><i class="fa fa-check"></i> Submit</button>
            </div>-->
          <table class="table table-striped table-bordered table-hover" id="datatable_ajax">
            <thead>
            <tr role="row" class="heading">
              <th width="20%">
                Heading
              </th>
              <th width="20%">
                Text
              </th>
              <th width="30%">
                Image
              </th>
              <th width="15%">
                Sent On
              </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="mascotFeed in mascotFeeds">
              <td>

                <a ui-sref="users.mascotFeedsToSelectedDetails({id:mascotFeed.id})"><h4>{{mascotFeed.heading| limitTo : 200}}</h4></a>

                <!--<small>{{mascotImage.stepsTarget}}</small>-->
              </td>
              <td>
                <h5>{{mascotFeed.rendered| limitTo : 200}}</h5></a>

                <!--<small>{{mascotImage.stepsTarget}}</small>-->
              </td>
              <td>
                <a ui-sref="users.mascotFeedsToSelectedDetails({id:mascotFeed.id})"><img
                  ng-src="{{getImageWithSize(mascotFeed._picture,300)}}" class="img pull-left" height="300"
                  width="300"
                  fallback-src loading-src style="margin-right: 10px"/></a>
              </td>
              <td>
                <h5>{{mascotFeed.created | date : format : timezone}}</h5></a>

                <!--<small>{{mascotImage.stepsTarget}}</small>-->
              </td>

            </tr>
            </tbody>
          </table>
          <pagination ng-model="page" total-items="totalItems" items-per-page="pageSize" max-size="10"
                      ng-change="pageChanged()"></pagination>
        </div>
      </div>
    </div>
    <!-- End: life time stats -->
  </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
  //  TableAjax.init();
</script>
<!-- END MAIN JS -->
