share<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a ui-sref="home">Home</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a ui-sref="users.list">Users</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      Send feeds to select users
    </li>
  </ul>
</div>
<h3 class="page-title">
  {{subPage}} Mascot Feed
</h3>
<!-- END PAGE HEADER-->
<div class="row">
  <!-- END Portlet PORTLET-->
  <div class = "col-md-6">
    <div class="portlet light">
      <div class="portlet-title">
        <div class="caption caption-md">
          <i class="icon-bar-chart theme-font hide"></i>
          <span class="caption-subject font-blue-madison bold uppercase">CUSTOM MASCOT/KIRAN FEEDS</span>
          <!-- <span class="caption-helper">45 pending</span> -->
        </div>
      </div>
      <div class="portlet-body">
        <!-- <div class="scroller" data-always-visible="1" data-rail-visible1="0"
        data-handle-color="#D7DCE2"> -->

        <div class="general-item-list">
          <div class="item" id="create-mascot-item" ng-hide="!isCreate">
            <input type="text" class="form-control" placeholder="Add a heading for Mascot Feed."
            ng-model="newMascot.heading"></input>
            <br/>
            <textarea class="form-control" placeholder="Add a short text message for Mascot Feed."
                      ng-model="newMascot.data.text"></textarea>
            <hr>
            <img ng-src="{{newMascot._picture.url}}" width="100%" ng-if="newMascot._picture" class="img-thumbnail"
                 fallback-src loading-src/>

            <div class="" ng-hide="!isCreate">
              <a href="javascript:;" class="btn btn-circle btn-primary pull-right" ng-click="createMascotFeed(newMascot)"
                 ng-disabled="mascotSubmitDisabled()">SEND</a>
              <button class="btn btn-circle bg-transparent text-white pull-right" style="margin-right: 10px;"
                      ng-click="addPictureToMascot(newMascot)"><span class="fa fa-camera fa-3x"></span>
              </button>
              <div class="pull-right">
                <label class="checkbox">
                  <input type="checkbox" ng-model="newMascot.data.shareable">Sharable
                  <input type="checkbox" ng-model="newMascot.data.pushNotify"> Push Notification
                </label>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="item" ng-hide="isCreate">
            <div class="item-head">
              <div class="item-details">
                <img class="item-pic" ng-src="{{getImageWithSize(creator._picture,32)}}" fallback-src
                     loading-src>
                <a class="item-name primary-link">{{getDisplayName(creator)}}</a>
                <span class="item-label" am-time-ago="mascotFeed.created"></span>
              </div>
            </div>
            <div class="item-body" style="padding-left: 50px;">
              <span ng-hide="mascotFeed.editMode"><b>{{mascotFeed.heading}}</b></span>
              <input class="form-control" ng-model="mascotFeed.heading" ng-show="mascotFeed.editMode" />
              <br/>
              <span ng-hide="mascotFeed.editMode">{{mascotFeed.data.text}}</span>
              <input class="form-control" ng-model="mascotFeed.data.text" ng-show="mascotFeed.editMode" />
              <br/>
              <img ng-src="{{getImageWithSize(mascotFeed._picture,200)}}" class="img-thumbnail"
                   ng-show="mascotFeed._picture.url"
                   fallback-src loading-src
                   width="100%"/>
              </button>
              <div class="clearfix"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class = "col-md-6">
    <div class="portlet light">
      <div class="portlet-title">
        <div class="caption caption-md">
          <i class="icon-bar-chart theme-font hide"></i>
          <span class="caption-subject font-blue-madison bold uppercase">Selected Users</span>
          <!-- <span class="caption-helper">45 pending</span> -->
        </div>
      </div>
      <div class="portlet-bpdy">
        <div class="general-item-list">
          <div class="item" ng-repeat="user in users">
            <div class="item-head">
              <div class="item-details">
                <img class="item-pic" ng-src="{{getImageWithSize(user._picture,32,true)}}" fallback-src
                     loading-src>
                <a ui-sref="users.details({id:user.id})" class="item-name primary-link">{{getDisplayName(user)}}</a>
                <span class="item-label" am-time-ago="user.created"></span>
              </div>
              <!-- <span class="item-status"><span class="badge badge-empty badge-success"></span> Open</span> -->
            </div>
          </div>
        </div>
      </div>
      <pagination ng-model="userPage" total-items="totalUsers" items-per-page="userPageSize" max-size="8" ng-change="pageChanged()"></pagination>
    </div>
  </div>
</div>
</div>
<div ui-view></div>

