<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js" data-ng-app="WalkonWebApp"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" data-ng-app="WalkonWebApp"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" data-ng-app="WalkonWebApp">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
  <title>Justice For Bhopal | Petition Form</title>

<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
  <!-- build:css({.tmp/serve,src}) styles/app.css -->

  <!-- BEGIN PAGE LEVEL STYLES -->
  <link href="assets/admin/pages/css/login.css" rel="stylesheet" type="text/css"/>
  <!-- END PAGE LEVEL SCRIPTS -->
  <!-- BEGIN THEME STYLES -->
  <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
  <link href="assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
  <link href="assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
  <link href="assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
  <link href="assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color"/>
  <link href="assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
  <link href="assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css"/>
  <link href="/assets/admin/pages/css/profile.css" rel="stylesheet" type="text/css"/>

  <!-- END THEME STYLES -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->

  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>
  <link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGO -->
<div class="logo">
  <a href="petition.html">
    <img style="width:300px;height:auto;" src="http://www.bhopal.net/wp-content/uploads/Unlinked_logos/icjblogo.png" alt=""/>
  </a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div cache-view="false" class="content" ng-controller="PetitionCtrl">
  <!-- BEGIN LOGIN FORM -->
  <form class="login-form" ng-submit="submitPetition()" role="form">
    <h3 class="form-title">Sign The Petition</h3>

    <div class="alert alert-danger ng-cloak" ng-show="error">
      <button class="close" data-close="alert"></button>
			<span>
			{{error}} </span>
    </div>
    <div class="form-group">
      <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
      <label class="control-label visible-ie8 visible-ie9">First Name</label>
      <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off"
             placeholder="First Name" name="firstName" ng-model="petitioner.firstName"/>
    </div>
    <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9">Last Name</label>
      <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off"
             placeholder="Last Name" name="lastName" ng-model="petitioner.lastName"/>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-success uppercase">Submit</button>
    </div>
  </form>
  <!-- END LOGIN FORM -->
</div>

<div class="copyright">www.justiceforbhopal.in.</div>

<!-- END LOGIN -->





<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->




<!-- build:js(src) scripts/ie9.js -->
<!--[if lt IE 9]>
<script src="assets/global/plugins/respond.min.js"></script>
<script src="assets/global/plugins/excanvas.min.js"></script>
<![endif]-->
<!-- endbuild -->


<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->


<!-- BEGIN APP LEVEL JQUERY SCRIPTS -->
<script src="assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="assets/admin/pages/scripts/login.js" type="text/javascript"></script>
<!-- END APP LEVEL JQUERY SCRIPTS -->
<!-- END JAVASCRIPTS -->
<script type="text/javascript">
  /* Init Metronic's core jquery plugins and layout scripts */
  $(document).ready(function() {
    Metronic.init(); // Run metronic theme
//    Layout.init(); // init current layout
    Metronic.setAssetsPath('assets/'); // Set the assets folder path
//    Login.init();
//    Demo.init();
  });
</script>
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-XXXXX-X');ga('send','pageview');
</script>


</body>
<!-- END BODY -->
</html>
